$primary-color: #177EFB;
$secondary-color: #c2e5ff;
.wl-button {
  border-radius: 8px !important;
  width: 50%;
  margin: 3px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  &.wl-button--primary {
    background-color: $primary-color;
    color: #fff;
  }
  &.wl-button--normal {
    background-color: $secondary-color;
    color: $primary-color;
  }
}