/* line 1, ../private/compass/sass/_admin_post_entities.scss */
.admin-post-entities {
  z-index: 0;
}
/* line 4, ../private/compass/sass/_admin_post_entities.scss */
.admin-post-entities .entity-item {
  width: 110px;
  height: 110px;
}
/* line 9, ../private/compass/sass/_admin_post_entities.scss */
.admin-post-entities .entity-item .textual .label {
  font-size: 12px;
}

/* line 5, ../private/compass/sass/admin.scss */
.postbox label {
  display: block;
  text-transform: capitalize;
}

/* line 10, ../private/compass/sass/admin.scss */
.postbox .geo {
  height: 260px;
}

/* line 14, ../private/compass/sass/admin.scss */
.postbox .geo .properties {
  width: 100%;
}

/* line 18, ../private/compass/sass/admin.scss */
.postbox .geo .properties .property {
  float: left;
}

/* line 22, ../private/compass/sass/admin.scss */
.postbox .geo .map {
  width: 90%;
  height: 200px;
}

/* line 27, ../private/compass/sass/admin.scss */
.postbox .geo .map #entityMap {
  height: 100%;
  width: 100%;
}

/* line 32, ../private/compass/sass/admin.scss */
.postbox input[type=text], .postbox textarea {
  width: 90%;
  margin-left: -4px;
}

/* line 37, ../private/compass/sass/admin.scss */
.postbox .description {
  font-style: italic;
  font-size: 80%;
}

/* line 42, ../private/compass/sass/admin.scss */
.postbox .property {
  padding-bottom: 10px;
}
