/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/* line 2, ../private/compass/sass/_entities_map.scss */
.entities-map-view {
  width: 100%;
  height: 400px;
}
/* line 6, ../private/compass/sass/_entities_map.scss */
.entities-map-view #entities-map {
  width: 100%;
  height: 100%;
}
/* line 10, ../private/compass/sass/_entities_map.scss */
.entities-map-view #entities-map .olControlAttribution {
  position: absolute;
  bottom: 0;
}

/* line 2, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item {
  width: 75px;
  height: 75px;
  margin: 5px;
  font-size: 65%;
}
/* line 9, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item .textual .label {
  font-size: 71.5% !important;
}
/* line 14, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-2 {
  width: 160px;
  height: 160px;
}
/* line 19, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-2 .textual .label {
  font-size: 130% !important;
}
/* line 25, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-3 {
  width: 240px;
  height: 240px;
}
/* line 30, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-3 .textual .label {
  font-size: 195% !important;
}
/* line 36, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-4 {
  width: 320px;
  height: 320px;
}
/* line 41, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-4 .textual .label {
  font-size: 260% !important;
}
/* line 47, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-5 {
  width: 400px;
  height: 400px;
}
/* line 52, ../private/compass/sass/_all_entities_view.scss */
.all-entities-view .entity-item.rank-5 .textual .label {
  font-size: 325% !important;
}

/* line 2, ../private/compass/sass/_entities_view.scss */
.entities-view {
  overflow: auto;
}

/* line 16, ../private/compass/sass/_blog_posting_tile_view.scss */
.blog-posting-tile-view {
  float: left;
  width: 240px;
  height: 120px;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #999999), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(bottom, #999999, #ffffff 100%);
  background: -moz-linear-gradient(bottom, #999999, #ffffff 100%);
  background: -o-linear-gradient(bottom, #999999, #ffffff 100%);
  background: -ms-linear-gradient(bottom, #999999, #ffffff 100%);
  background: linear-gradient(bottom, #999999, #ffffff 100%);
}
/* line 25, ../private/compass/sass/_blog_posting_tile_view.scss */
.blog-posting-tile-view .name {
  font-size: 80%;
  font-weight: bold;
  margin: 0 0 5px;
}
/* line 31, ../private/compass/sass/_blog_posting_tile_view.scss */
.blog-posting-tile-view .date-published {
  font-size: 60%;
  font-weight: normal;
  color: black;
}

/* line 18, ../private/compass/sass/screen.scss */
.entity-item {
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  overflow: hidden;
  float: left;
  position: relative;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 65%;
  font-weight: bold;
  color: white;
  width: 75px;
  height: 75px;
}
/* line 36, ../private/compass/sass/screen.scss */
.entity-item a {
  text-decoration: none;
  color: white;
}
/* line 41, ../private/compass/sass/screen.scss */
.entity-item .front {
  width: 100%;
  height: 100%;
}
/* line 45, ../private/compass/sass/screen.scss */
.entity-item .front .entity-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 6px;
}
/* line 51, ../private/compass/sass/screen.scss */
.entity-item .front .entity-toolbar .accepted, .entity-item .front .entity-toolbar .rejected {
  float: left;
}
/* line 54, ../private/compass/sass/screen.scss */
.entity-item .front .entity-toolbar .accepted .clickable, .entity-item .front .entity-toolbar .rejected .clickable {
  width: 24px;
  height: 24px;
}
/* line 59, ../private/compass/sass/screen.scss */
.entity-item .front .entity-toolbar .accepted.deselected, .entity-item .front .entity-toolbar .rejected.deselected {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 66, ../private/compass/sass/screen.scss */
.entity-item .back {
  display: none;
}
/* line 70, ../private/compass/sass/screen.scss */
.entity-item .image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  background: white;
  min-height: 100%;
}
/* line 76, ../private/compass/sass/screen.scss */
.entity-item .description {
  font-weight: normal;
  padding: 2px;
}
/* line 81, ../private/compass/sass/screen.scss */
.entity-item .textual {
  padding: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 87, ../private/compass/sass/screen.scss */
.entity-item .textual .label {
  margin-bottom: 4px;
  font-size: 71.5%;
}
/* line 93, ../private/compass/sass/screen.scss */
.entity-item .type {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36px;
  height: 42px;
  margin: 0 2px;
}
/* line 103, ../private/compass/sass/screen.scss */
.entity-item.selected .back {
  display: block;
}
/* line 107, ../private/compass/sass/screen.scss */
.entity-item.selected .front {
  display: none;
}
/* line 112, ../private/compass/sass/screen.scss */
.entity-item.Place {
  border-color: #47dfdd;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #32aeac), color-stop(100%, #47dfdd));
  background: -webkit-linear-gradient(bottom, #32aeac, #47dfdd 100%);
  background: -moz-linear-gradient(bottom, #32aeac, #47dfdd 100%);
  background: -o-linear-gradient(bottom, #32aeac, #47dfdd 100%);
  background: -ms-linear-gradient(bottom, #32aeac, #47dfdd 100%);
  background: linear-gradient(bottom, #32aeac, #47dfdd 100%);
}
/* line 116, ../private/compass/sass/screen.scss */
.entity-item.Place .type {
  background: url("../images/place.png");
}
/* line 121, ../private/compass/sass/screen.scss */
.entity-item.Event {
  border-color: #da4dd9;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #983797), color-stop(100%, #da4dd9));
  background: -webkit-linear-gradient(bottom, #983797, #da4dd9 100%);
  background: -moz-linear-gradient(bottom, #983797, #da4dd9 100%);
  background: -o-linear-gradient(bottom, #983797, #da4dd9 100%);
  background: -ms-linear-gradient(bottom, #983797, #da4dd9 100%);
  background: linear-gradient(bottom, #983797, #da4dd9 100%);
}
/* line 125, ../private/compass/sass/screen.scss */
.entity-item.Event .type {
  background: url("../images/event.png");
}
/* line 130, ../private/compass/sass/screen.scss */
.entity-item.Person {
  border-color: #deab09;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ce9d03), color-stop(100%, #deab09));
  background: -webkit-linear-gradient(bottom, #ce9d03, #deab09 100%);
  background: -moz-linear-gradient(bottom, #ce9d03, #deab09 100%);
  background: -o-linear-gradient(bottom, #ce9d03, #deab09 100%);
  background: -ms-linear-gradient(bottom, #ce9d03, #deab09 100%);
  background: linear-gradient(bottom, #ce9d03, #deab09 100%);
}
/* line 134, ../private/compass/sass/screen.scss */
.entity-item.Person .type {
  background: url("../images/person.png");
}
/* line 139, ../private/compass/sass/screen.scss */
.entity-item.Organization {
  border-color: #7bb34a;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #4e9014), color-stop(100%, #7bb34a));
  background: -webkit-linear-gradient(bottom, #4e9014, #7bb34a 100%);
  background: -moz-linear-gradient(bottom, #4e9014, #7bb34a 100%);
  background: -o-linear-gradient(bottom, #4e9014, #7bb34a 100%);
  background: -ms-linear-gradient(bottom, #4e9014, #7bb34a 100%);
  background: linear-gradient(bottom, #4e9014, #7bb34a 100%);
}
/* line 143, ../private/compass/sass/screen.scss */
.entity-item.Organization .type {
  background: url("../images/organization.png");
}
/* line 148, ../private/compass/sass/screen.scss */
.entity-item.Product {
  border-color: #bc0202;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #961010), color-stop(100%, #bc0202));
  background: -webkit-linear-gradient(bottom, #961010, #bc0202 100%);
  background: -moz-linear-gradient(bottom, #961010, #bc0202 100%);
  background: -o-linear-gradient(bottom, #961010, #bc0202 100%);
  background: -ms-linear-gradient(bottom, #961010, #bc0202 100%);
  background: linear-gradient(bottom, #961010, #bc0202 100%);
}
/* line 152, ../private/compass/sass/screen.scss */
.entity-item.Product .type {
  background: url("../images/product.png");
}
/* line 157, ../private/compass/sass/screen.scss */
.entity-item.CreativeWork {
  border-color: #3c88d0;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #3c6f9f), color-stop(100%, #3c88d0));
  background: -webkit-linear-gradient(bottom, #3c6f9f, #3c88d0 100%);
  background: -moz-linear-gradient(bottom, #3c6f9f, #3c88d0 100%);
  background: -o-linear-gradient(bottom, #3c6f9f, #3c88d0 100%);
  background: -ms-linear-gradient(bottom, #3c6f9f, #3c88d0 100%);
  background: linear-gradient(bottom, #3c6f9f, #3c88d0 100%);
}
/* line 161, ../private/compass/sass/screen.scss */
.entity-item.CreativeWork .type {
  background: url("../images/creativeworks.png");
}
/* line 166, ../private/compass/sass/screen.scss */
.entity-item.Other {
  border-color: #4bc1e6;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #52a7c2), color-stop(100%, #4bc1e6));
  background: -webkit-linear-gradient(bottom, #52a7c2, #4bc1e6 100%);
  background: -moz-linear-gradient(bottom, #52a7c2, #4bc1e6 100%);
  background: -o-linear-gradient(bottom, #52a7c2, #4bc1e6 100%);
  background: -ms-linear-gradient(bottom, #52a7c2, #4bc1e6 100%);
  background: linear-gradient(bottom, #52a7c2, #4bc1e6 100%);
}
/* line 170, ../private/compass/sass/screen.scss */
.entity-item.Other .type {
  background: url("../images/other.png");
}

/* line 179, ../private/compass/sass/screen.scss */
.post-content .entity .entity-inner {
  min-height: 130px;
  margin-bottom: 20px;
}
/* line 183, ../private/compass/sass/screen.scss */
.post-content .entity .title {
  display: none;
}
/* line 186, ../private/compass/sass/screen.scss */
.post-content .entity .place {
  font-weight: bold;
  font-size: 120%;
}
/* line 190, ../private/compass/sass/screen.scss */
.post-content .entity .about {
  font-style: italic;
  margin-bottom: 4px;
}
/* line 194, ../private/compass/sass/screen.scss */
.post-content .entity .image {
  float: left;
}
/* line 196, ../private/compass/sass/screen.scss */
.post-content .entity .image img {
  max-height: 120px;
  margin: 2px 8px 8px;
}
/* line 201, ../private/compass/sass/screen.scss */
.post-content .entity .description {
  text-align: justify;
}
/* line 204, ../private/compass/sass/screen.scss */
.post-content .entity #map {
  width: 100%;
  height: 200px;
}
/* line 208, ../private/compass/sass/screen.scss */
.post-content .entity #map .olControlAttribution {
  bottom: 0;
}

/* line 215, ../private/compass/sass/screen.scss */
.entity-posts {
  margin: 10px 0;
}
/* line 218, ../private/compass/sass/screen.scss */
.entity-posts a {
  text-decoration: none;
}
/* line 222, ../private/compass/sass/screen.scss */
.entity-posts .post-tile {
  width: 75px;
  height: 75px;
  border: black 1px solid;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
  float: left;
  overflow: auto;
}
/* line 232, ../private/compass/sass/screen.scss */
.entity-posts .post-tile .title {
  font-size: 80%;
}
/* line 235, ../private/compass/sass/screen.scss */
.entity-posts .post-tile .author, .entity-posts .post-tile .date, .entity-posts .post-tile .excerpt {
  display: none;
}
