




.entity-item {
	background: white;
	border: 1px solid black;
	width: 140px;
	min-height: 50px;
	margin: 2px;
	border-radius: 0.2em;
}

.entity-caption-outer {
	/*position: absolute;*/
	bottom: 0;
	background: white;
	width: 100%;
	/*opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);*/
}

.entity-caption-inner {
	padding: 2px 4px;
	font-weight: bold;
}

.entity-toolbar img {
	width: 24px;
	float: right;
	padding: 4px;
}

.clickable {
	cursor: pointer;
}

.deselected {
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=2);
}

.icon32-posts-wordlift20_entity {
	background: transparent url(../images/sw-cube-28x32.png) no-repeat !important;
}