.wl-bg-modal {
  display: none;
  z-index: 99999 !important;

  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #eee;
  border-radius: 10px;
  &.wl-bg-modal--open {
    display: block;
  }
  &.wl-bg-modal--closed {
    display: none;
  }
}