


.wl-navigator-card {
	margin-right:2px;
}
.wl-navigator-card a {
	border-bottom: none !important;
}
.wl-navigator-lens {
	background-size:cover;
	height:100px;
	background-position: center;
}
.wl-navigator-trigger {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 0));
	display: block;
	height: 100%;
}
.wl-navigator-context a {
	text-transform:capitalize; 

}

.wl-navigator-trigger a, .wl-navigator-trigger a:visited {
	font-size:18px; line-height:1.2em;color:#FFFFFF; padding:10px; display:block; text-decoration:none;}
.wl-navigator-context {
	border-left:1px solid #666666; 
	border-right:1px solid #666666; 
	border-bottom:1px solid #666666; 
	/* height:60px; */
}
.wl-navigator-context a { color:#666666;display:block; padding:10px; border-top:5px solid #666666; text-decoration:none; font-size:16px; line-height:1.2em}

.wl-navigator-bg {
	position:absolute;
	top:0;
	display:block;
	width:100%;
	height:200px;
background-color: #292484;
background-image: -webkit-linear-gradient(135deg,#292484,#dc4225);
background-image: -moz-linear-gradient(135deg,#292484,#dc4225);
background-image: -o-linear-gradient(135deg,#292484,#dc4225);
background-image: linear-gradient(135deg,#292484,#dc4225);
opacity: 0.6;
}
.slick-prev, .slick-next {}