%aside{ :id => "delete-confirmation-dialog", :class => "avgrund-popup" }
	%div{ :class => "alert alert-block" }
		%button{ :type => "button", :class => "close", :"ng-click" => "cancelDeleteProperty()" }
			&times;
		%h4
			Warning!

		Are you sure you want to delete the property? The action cannot be undone.
		%br
		%br

		%div{ :class => "pagination-centered" }
			%button{ :class => "btn btn-warning", :"ng-click" => "confirmDeleteProperty()" }
				Delete
			%button{ :class => "btn", :"ng-click" => "cancelDeleteProperty()" }
				Cancel

%div{ :class => "avgrund-cover" }

%table{ :class => "entity table table-striped table-hover" }
	%thead
		%tr
			%th
				Key
			%th
				Language
			%th
			%th
				Value
	%tbody
		%tr{ :"ng-repeat" => "property in data.content" }
			%td
				%div{ :"ng-bind" => "property.key" }
				%div
					({{property.type}})
			%td
				%div{ :"ng-bind" => "property.lang" }
			%td
				%a{ :class => "icon-pencil", :"ng-click" => "setEditMode( property, true )", :"ng-hide" => "property.editMode" }
				%a{ :class => "icon-trash", :"ng-click" => "deleteProperty( property )", :"ng-hide" => "property.editMode" }
				%a{ :class => "icon-ok", :"ng-click" => "saveProperty( property )", :"ng-show" => "true == property.editMode" }
				%a{ :class => "icon-remove", :"ng-click" => "setEditMode( property, false )", :"ng-show" => "true == property.editMode" }
			%td
				%div{ :class => "image", :style => "background-image: url('{{property.value}}');", :"ng-show" => "isImage( property.value )" }
				%div{ :"ng-bind" => "property.value", :"ng-hide" => "property.editMode" }
				%textarea{ :"ng-model" => "property.value", :"ng-show" => "'literal'==property.type && true == property.editMode" }
				%input{ :type => "url", :"ng-model" => "property.value", :"ng-show" => "'uri'==property.type && true == property.editMode" }
				%select{ :"ng-model" => "property.value", :"ng-show" => "'bnode'==property.type && true == property.editMode" }


%div{ :class => "pagination pagination-centered", :style => "display: none;" }
	%ul
		%li{ :"ng-class" => "{true: 'disabled', false: ''}[0==data.page]" }
			%a{ :"ng-click" => "goToPreviousPage()" }
				Prev
		%li{ :"ng-repeat" => "page in getPages()", :"ng-class" => "{true: 'active', false: ''}[page==(data.page + 1)]" }
			%a{ :"ng-click" => "goToPage( page - 1 )", :"ng-bind" => "page" }
		%li{ :"ng-class" => "{true: 'disabled', false: ''}[data.page==(data.pages - 1)]" }
			%a{ :"ng-click" => "goToNextPage()" }
				Next
