%div{ :class => "alert alert-info" }
	%span{ :class => "label label-info" }
		Entities

	Type the
	%strong
		Name
	and hit the
	%string
		Filter
	button to choose the entity you wish to edit; use the
	%strong
		language selector
	to choose the language of the entity's properties you wish to edit

%div{ :class => "well" }
	%form{ :"ng-submit" => "filter()", :name => "filterForm", :id => "filter-form" }
		%input{ :"ng-model" => "filters.nameFilter", :type => "text", :class => "input-medium search-query", :placeholder => "Name" }
		%input{ :type => "submit", :value => "Filter", :class => "btn" }

		%ul{ :class => "nav nav-pills" }
			%li{ :"ng-repeat" => "(code, language) in languages", :class => "language", :"ng-class" => "{'active': language.selected}" }
				%a{ :"ng-click" => "switchLanguage(code);" }
					{{language.language}}



%table{ :class => "entities table table-striped table-hover" }
	%thead
		%tr
			%th{ :style => "width: 20px;" }
			%th
				Name
			%th
				Image
	%tbody
		%tr{ :"ng-repeat" => "entity in data.content" }
			%td
				%div{ :class => "type", :"ng-class" => "getTypeName( entity.a )" }
			%td
				%a{ :"ng-click" => "goToEntity( entity )", :"ng-bind" => "entity.name" }
			%td
				%div{ :class => "image", :"style" => "background-image: url( '{{entity.image}}' );" }


%div{ :class => "pagination pagination-centered" }
	%ul
		%li{ :"ng-class" => "{true: 'disabled', false: ''}[0==data.page]" }
			%a{ :"ng-click" => "goToPreviousPage()" }
				Prev
		%li{ :"ng-repeat" => "page in getPages()", :"ng-class" => "{true: 'active', false: ''}[page==(data.page + 1)]" }
			%a{ :"ng-click" => "goToPage( page - 1 )", :"ng-bind" => "page" }
		%li{ :"ng-class" => "{true: 'disabled', false: ''}[data.page==(data.pages - 1)]" }
			%a{ :"ng-click" => "goToNextPage()" }
				Next