!!! 5

:css
	[ng-cloak] {
		display: none;
	}

%div{ :id => "wordliftApp", :"ng-controller" => "EntitiesCtrl", :"ng-cloak" => true }
	%table{ :class => "table table-striped table-hover" }
		%thead
			%tr
				%th
				%th
					Name
				%th
					Image
		%tbody
			%tr{ :"ng-repeat" => "entity in data.content" }
				%td
					%div{ :class => "type", :"ng-class" => "getTypeName( entity.type )" }
				%td{ :"ng-bind" => "entity.name" }
				%td
					%div{ :class => "image", :"style" => "background-image: url( '{{entity.image}}' );" }


	%div{ :class => "pagination pagination-centered" }
		%ul
			%li
				%a{ :href => "#" }
					Prev
			%li
				%a{ :href => "#" }
					1
			%li
				%a{ :href => "#" }
					2
			%li
				%a{ :href => "#" }
					3
			%li
				%a{ :href => "#" }
					4
			%li
				%a{ :href => "#" }
					Next


:coffee

	angular.element(document).ready ->
		angular
			.module( "wordliftApp", [] )
			.controller( "EntitiesCtrl", [ "EntitiesService", "$scope", "$log", ( EntitiesService, $scope, $log ) ->

				$scope.$on "event.entities", (event, data) ->
					$scope.data = data

				EntitiesService.list()

				$scope.getTypeName = (type) ->
					matches = type.match /([^\/]*)$/i
					matches[0] if matches?

			])
			.service( "EntitiesService", [ "$http", "$rootScope", "$log", ( $http, $rootScope, $log ) ->

				list: ->

					$http
						method: "GET"
						url: "admin-ajax.php"
						params:
							action: "wordlift.entities"
							limit: 10
					.success ( data, status, headers, config ) ->
						$rootScope.$broadcast "event.entities", data
					.error ( data, status, headers, config ) ->
						$rootScope.$broadcast "event.error", data

			])

		angular.bootstrap document.getElementById( "wordliftApp" ), [ "wordliftApp" ]

