%aside{ :id => "delete-confirmation-dialog", :class => "avgrund-popup" }
	%div{ :class => "alert alert-block" }
		%button{ :type => "button", :class => "close", :"ng-click" => "cancelDeleteProperty()" }
			&times;
		%h4
			Warning!

		Are you sure you want to delete the property? The action cannot be undone.
		%br
		%br

		%div{ :class => "pagination-centered" }
			%button{ :class => "btn btn-warning", :"ng-click" => "confirmDeleteProperty()" }
				Delete
			%button{ :class => "btn", :"ng-click" => "cancelDeleteProperty()" }
				Cancel

%div{ :class => "avgrund-cover" }

%div{ :class => "alert alert-info" }
	%span{ :class => "label label-info" }
		Edit an Entity

	Use this page to edit an entity:
	%ul
		%li
		%li
			%div{ :class => "icon-plus" }
			Add new properties to an entity by filling the property name, type and value (and optionally the language code)
		%li
			%div{ :class => "icon-pencil" }
			Edit an existing property
		%li
			%div{ :class => "icon-trash" }
			Delete a property
		%li
			%div{ :class => "icon-ok" }
			Save the changes
		%li
			%div{ :class => "icon-remove" }
			Cancel the changes

	%span{ :class => "label label-info" }
		Languages
	Use the following list to select the language you would like to use to display the properties of the entities

%div{ :class => "well" }
	%ul{ :class => "nav nav-pills" }
		%li{ :class => "language", :"ng-class" => "{'active': isCurrentLanguage('')}" }
			%a{ :"ng-click" => "setLanguage('');" }
				(none)
		%li{ :"ng-repeat" => "(code, language) in languages", :class => "language", :"ng-class" => "{'active': isCurrentLanguage(code)}" }
			%a{ :"ng-click" => "setLanguage(code);" }
				{{language.language}}

%table{ :class => "entity table table-striped table-hover" }
	%thead
		%tr
			%th{ :class => "column-key" }
				Key
			%th
				Language
			%th
			%th
				Value
	%tbody
		%tr{ :class => "add-property" }
			%td{ :colspan => "4" }
				%a{ :"ng-click" => "showNewProperty()" }
					%div{ :"ng-class" => "{true:'icon-minus', false:'icon-plus'}[isNewPropertyVisible]" }
					add property
		%tr{ :class => "new-property", :"ng-show" => "isNewPropertyVisible" }
			%td
				%div
					%input{ :"ng-model" => "newProperty.key", :type => "text", :placeholder => "http://schema.org/property" }
					%select{ :"ng-model" => "newProperty.type", :class => "type" }
						%option{ :value => "literal" }
							Literal
						%option{ :value => "uri" }
							URI
			%td
				%div
					%input{ :type => "text", :class => "language", :"ng-model" => "newProperty.lang", :placeholder => "en" }
			%td
				%a{ :class => "icon-ok", :"ng-click" => "saveNewProperty( newProperty, clearNewProperty )" }
			%td
				%textarea{ :"ng-model" => "newProperty.value", :"ng-show" => "'literal'==newProperty.type" }
				%input{ :type => "url", :"ng-model" => "newProperty.value", :"ng-show" => "'uri'==newProperty.type", :placeholder => "http://example.org/path" }

		%tr{ :"ng-repeat" => "property in data.content", :"ng-show" => "isCurrentLanguage(property.lang)" }
			%td
				%div{ :"ng-bind" => "property.key" }
				%div
					({{property.type}})
			%td
				%div{ :"ng-bind" => "property.lang" }
			%td
				%a{ :class => "icon-pencil", :"ng-click" => "setEditMode( property, true )", :"ng-hide" => "property.editMode" }
				%a{ :class => "icon-trash", :"ng-click" => "deleteProperty( property )", :"ng-hide" => "property.editMode" }
				%a{ :class => "icon-ok", :"ng-click" => "saveProperty( property )", :"ng-show" => "true == property.editMode" }
				%a{ :class => "icon-remove", :"ng-click" => "setEditMode( property, false )", :"ng-show" => "true == property.editMode" }
			%td
				%div{ :class => "image", :style => "background-image: url('{{property.value}}');", :"ng-show" => "isImage( property.value )" }
				%div{ :"ng-bind" => "property.value", :"ng-hide" => "property.editMode" }
				%textarea{ :"ng-model" => "property.value", :"ng-show" => "'literal'==property.type && true == property.editMode" }
				%input{ :type => "url", :"ng-model" => "property.value", :"ng-show" => "'uri'==property.type && true == property.editMode" }
				%select{ :"ng-model" => "property.value", :"ng-show" => "'bnode'==property.type && true == property.editMode" }


%div{ :class => "pagination pagination-centered", :style => "display: none;" }
	%ul
		%li{ :"ng-class" => "{true: 'disabled', false: ''}[0==data.page]" }
			%a{ :"ng-click" => "goToPreviousPage()" }
				Prev
		%li{ :"ng-repeat" => "page in getPages()", :"ng-class" => "{true: 'active', false: ''}[page==(data.page + 1)]" }
			%a{ :"ng-click" => "goToPage( page - 1 )", :"ng-bind" => "page" }
		%li{ :"ng-class" => "{true: 'disabled', false: ''}[data.page==(data.pages - 1)]" }
			%a{ :"ng-click" => "goToNextPage()" }
				Next
