!!! 5

%div{:class => "bootstrap-reset", :id => "wordLiftOptions", :"ng-controller" => "OptionsController"}
	%form{:"ng-submit" => "save()"}
		%fieldset
			%legend
				Options

			%label{:class => "checkbox"}
				%input{:type => "checkbox", :"ng-model" => "enableFooterBar"}
					Enable the WordLift Bar
			%span{:class => "help-block"}
				If enabled, the WordLift Bar will appear on the lower part of your
				site.

			%label{:class => "checkbox"}
				%input{:type => "checkbox", :"ng-model" => "enableInDepth"}
					Enable In-Depth markup
			%span{:class => "help-block"}
				If enabled, WordLift will process the page to expose
				%em
					schema.org
				compatible mark-up.

			%input{:type => "submit", :class => "btn btn-primary", :value => "Save"}