!!! 5

:css
	[ng-cloak] {
		display: none;
	}

%div{ :id => "wordliftApp", :"ng-controller" => "TasksCtrl" }

	%div{ :class => "alert alert-info" }
		%span{ :class => "label label-info" }
			Running Tasks

		Here are listed the analysis tasks currently running on your blog

		%br{ :clear => "all" }
		%span{ :class => "label label-info" }
			Awaiting Disambiguation

		Here you'll find all the posts that required your attention (entities shall be selected for each post and disambiguated)

		%br{ :clear => "all" }
		%span{ :class => "label label-info" }
			Completed Tasks

		Here is the list of all the post you have been
		%strong WordLifting
		successfully

	%ul{ :class => "nav nav-pills" }
		%li{ :"ng-class" => "{running:'active'}[state]" }
			%a{ :"ng-click" => "select('running')",  }
				Running Tasks
		%li{ :"ng-class" => "{completed:'active'}[state]" }
			%a{ :"ng-click" => "select('completed')" }
				Awaiting Disambiguation
		%li{ :"ng-class" => "{disambiguated:'active'}[state]" }
			%a{ :"ng-click" => "select('disambiguated')" }
				Completed Tasks

	%table{ :class => "table table-striped table-hover" }
		%thead
			%tr
				%th
					Title
				%th
					State
		%tbody
			%tr{ :"ng-repeat" => "task in data" }
				%td
					%a{ :href => "{{task.edit}}" }
						{{task.title}}
				%td{ :"ng-class" => "state" }
					{{state}}
