.wl-notice{
  .components-notice{
    margin: 10px 0;
    .components-notice__content{
      margin: 5px 0;
    }
  }
}

.editor-block-list__block{
  .textannotation {
    background-color: rgba(46,146,255,.2);
    cursor: pointer;
  }
  .disambiguated {
    border-bottom: #007aff 2px solid;
    // Remove the padding bottom otherwise our bottom border won't show.
    padding-bottom: 0;
  }
  &[data-type='wordlift/faceted-search'],
  &[data-type='wordlift/navigator'],
  &[data-type='wordlift/chord'],
  &[data-type='wordlift/geomap'],
  &[data-type='wordlift/cloud'],
  &[data-type='wordlift/vocabulary'],
  &[data-type='wordlift/timeline']{
    [data-block]{
      background: rgba(0, 122, 255, 0.1);
      padding: 5px 10px;
      h4{
        color: #007aff;
        border-bottom: 1px solid #007aff;
      }
    }
  }
}
