/**
 * This file defines the styles used in Gutenberg.
 */
@import "../common/mixins";

/**
 * WordLift's sidebar.
 *
 * The component is defined in gutenberg/index.js.
 */
.wl-sidebar {
  padding-top: 25px;
}

.wl-notice {
  .components-notice {
    margin: 10px 0;
    .components-notice__content {
      margin: 5px 0;
    }
  }
}

/**
 * .editor-block-list__block was removed on 5.4.0 and replaced with
 * .block-editor-block-list__block, for WP 5.4.0 compatibility we add this class
 */

.editor-block-list__block,
.block-editor-block-list__block {
  @include textannotation;

  &[data-type="wordlift/faceted-search"],
  &[data-type="wordlift/navigator"],
  &[data-type="wordlift/chord"],
  &[data-type="wordlift/geomap"],
  &[data-type="wordlift/cloud"],
  &[data-type="wordlift/vocabulary"],
  &[data-type="wordlift/timeline"] {
    [data-block] {
      background: rgba(0, 122, 255, 0.1);
      padding: 5px 10px;
      h4 {
        color: #007aff;
        border-bottom: 1px solid #007aff;
      }
    }
  }
}

.wp-block[data-type="wordlift/classification"] {
  display: none;
}
