.wl-notification-area {
  animation-duration: 0.2s;
  animation-name: slidein;
  width: 100%;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}
.wl-notification-area__close-button {
  cursor: pointer;
}
