.sass-cache/
.DS_Store
wp-tests/
*.sublime-project
*.sublime-workspace
*~
setenv.sh
wp-tests/wordpress/wp-content/uploads
composer.phar
composer.lock
vendor/

/node_modules

# folders belonging to the svn branch
/build
/tags
/trunk


.svn/

.idea/
