.sass-cache/
.DS_Store
wp-tests/
*.sublime-project
*.sublime-workspace
*~
setenv.sh
wp-tests/wordpress/wp-content/uploads
composer.phar
composer.lock
vendor/
src/
dist/
.svn/tmp/

/node_modules/
/build/
/.svn/
/bower_components/

.idea/
*.iml

node_modules/

tags/
trunk/

wordlift-*.zip
.db/