.sass-cache/
.DS_Store
wp-tests/
*.sublime-project
*.sublime-workspace
*~
setenv.sh
wp-tests/wordpress/wp-content/uploads
composer.phar
composer.lock
vendor/

node_modules/

# folders belonging to the svn branch
/build
/tags
/trunk

.idea/
.svn/
*.iml

# webdriver.io e2e tests screenshots.
errorShots/

# We don't need npm debug logs in the repo.
npm-debug.log

tests/phpunit.bat

# See https://help.github.com/ignore-files/ for more about ignoring files.

# testing
/coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
