sudo: false
language: php
env:
  global:
  - secure: "NB4P/P1/Gzje1/mOseVZqkIdaxI5vEgnlUUEmNRBtAT0CMt3c3pLSfzRtKrFfuJzoXpahxf8pC1R+Ljjf+QCC+2ECqjGCPSSv1tIj0L/H+c9UtbpPQIwD6kv7dPBYedZ6eNAgGjK1DXhrAuSnNaYJrZ35N6tv06B0KmniY6pJnk="
  - secure: "Fo6kJNe7LNHPfj6fBIyqOI7Zkm2DZwV7IH8jTGvZF5UkPvJiUyjN13z1TRXOohUYvigITZduF0f2I3MaxkAEpb/d5e2yf/Zu7x/nlRQzcSWM9zPMuW+oJG/b+s2m9F65uYkOIi1J5vI7w/G888zGS9LzSgwh4mXxeG1bm3b4EGw="
  - WL_DISABLE_SPARQL_UPDATE_QUERIES_BUFFERING=true
  - WL_SSL_VERIFY_ENABLED=true
  - WL_SSL_V1_FORCED=true
matrix:
  include:
  - php: 5.5
    env: WP_TRAVISCI=travis:js
  - php: 5.3
    env: WP_TRAVISCI=travis:phpunit
  - php: 5.4
    env: WP_TRAVISCI=travis:phpunit
  - php: 5.5
    env: WP_TRAVISCI=travis:phpunit
  - php: 5.6
    env: WP_TRAVISCI=travis:phpunit
before_install:
- |
  if [[ "$WP_TRAVISCI" == "travis:phpunit" ]]; then
    bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    composer install --dev
  fi
before_script:
  - npm install -g npm
  - npm install -g grunt-cli
  - npm install
script: grunt $WP_TRAVISCI
notifications:
  slack: insideout10:NcslbQWVmD4YPInDq8TpBIno
