services:
  db:
    image: mariadb:10.7
    ports:
      - "3306:3306"
    volumes:
      - db-data-${WORDPRESS_VERSION:-6}:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: wordpress

  wordpress:
    image: wordlift/wordpress-nginx:${WORDPRESS_VERSION:-6}
    user: "root"
    entrypoint: [ "/tmp/docker-entrypoint.sh", "/opt/bitnami/scripts/wordpress/entrypoint.sh", "/opt/bitnami/scripts/nginx-php-fpm/run.sh" ]
    volumes:
      - ./.docker/wordpress/docker-entrypoint.sh:/tmp/docker-entrypoint.sh:ro
      - ./.docker/wordpress/docker-entrypoint-init.d:/docker-entrypoint-init.d:ro
      - ./.docker/wordpress/wp-config-extra.php:/tmp/wp-config-extra.php:ro
      - ./.docker/wordpress/opt/bitnami/scripts/libwordpress.sh:/opt/bitnami/scripts/libwordpress.sh:ro
      - ./.docker/wordpress/opt/bitnami/php/etc/conf.d:/opt/bitnami/php/etc/conf.d:ro
      - ./.docker/wordpress/opt/bitnami/nginx/conf/bitnami/php-fpm.conf:/opt/bitnami/nginx/conf/bitnami/php-fpm.conf:ro
      - ./src:/bitnami/wordpress/wp-content/plugins/wordlift
      # - ../pods-export-code:/bitnami/wordpress/wp-content/plugins/pods-export-code
      # - ../advanced-custom-fields-for-schema-org:/var/www/html/wp-content/plugins/advanced-custom-fields-for-schema-org
      # - ../../wordpress/plugins/pods-2.9.3:/bitnami/wordpress/wp-content/plugins/pods
      # - ../../wordpress/plugins/woocommerce-6.9.2:/bitnami/wordpress/wp-content/plugins/woocommerce
      # - ../../wordpress/plugins/wp-recipe-maker-8.5.0:/bitnami/wordpress/wp-content/plugins/wp-recipe-maker
    environment:
      BITNAMI_DEBUG: true
      WORDPRESS_DATABASE_HOST: db
      WORDPRESS_DATABASE_USER: wordpress
      WORDPRESS_DATABASE_PASSWORD: password
      WORDPRESS_DATABASE_NAME: wordpress
      WORDPRESS_ENABLE_HTTPS: "yes"
      WORDPRESS_ENABLE_REVERSE_PROXY: "yes"
      WORDPRESS_EXTRA_WP_CONFIG_CONTENT_FILE: /tmp/wp-config-extra.php
      WORDPRESS_USERNAME: admin
      WORDPRESS_PASSWORD: password
      # When using an existing DB, set `WORDPRESS_SKIP_BOOTSTRAP` to `yes`.
      # WORDPRESS_TABLE_PREFIX: wp_q81ara52nh_
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX:-wp_}
#      WORDPRESS_SKIP_BOOTSTRAP: yes
      WORDPRESS_AUTH_KEY: '2+7G8-eAI}15YQro}b.q+nT#3|]=NW@JC t<H#VVoDGX1S/-@1r;aqltLmv^R9ej'
      WORDPRESS_SECURE_AUTH_KEY: 'R8^w[N_fF+-*1Az:fRWkEY{p ;,1%f PnHNSWxM^+V3j00=># Ac4cp/x.DF-mcz'
      WORDPRESS_LOGGED_IN_KEY: 'W* ;IF#Z<I%dOWq^K,P0Lg,QYA`?+>gB+=H4<HEN`C>]*|nnKR#NEL>yt&hx(Hef'
      WORDPRESS_NONCE_KEY: 'xEjRy*/_DUL+X`R%i)4S)rCw<yI-Ly@9*y&EK|w_Cb9KY[M?KLdskZt82N+--A|*'
      WORDPRESS_AUTH_SALT: 'q|cc,[E1T,|aS+&aWIq0`n#h)1fM+ Tos @SxQ{`J_9C4&&AV_Pg0-n-~c`K!>VX'
      WORDPRESS_SECURE_AUTH_SALT: '_j|*y&gJ9^@=Re527SsH<<>.D[jb6.XmHo.( k!Vj rXWBI6uIDI@e3`dVk_O|JO'
      WORDPRESS_LOGGED_IN_SALT: 'gI]GHx0<J+gcToz(|ojSs6)HB)),N]SeJj6(|JQ/_:1;PO7_%+js1k8!|[FN*6yo'
      WORDPRESS_NONCE_SALT: 'MSxQ1Q<Pg{Cq+[:p4p2>iOm76?{.f6;* p -(1?A2_6:Nort3R1cLxEJu_<j[-Yf'
      PHP_IDE_CONFIG: serverName=wordpress

  nginx:
    depends_on:
      - wordpress
    image: nginx:1.21
    ports:
      - "443:443"
    volumes:
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./wp-content:/var/www/html/blog/wp-content:ro

  phpunit:
    profiles:
      - phpunit
    image: ziodave/wordpress-tests:php8.0-phpunit7.5woo-wordpress5.6
    depends_on:
      - db
    volumes:
      - .:/app
      - ./vendor/yoast/phpunit-polyfills:/phpunit-polyfills
    environment:
      WP_TESTS_PHPUNIT_POLYFILLS_PATH: "/phpunit-polyfills"
    command: [ "-c", "tests/scenarios/phpunit.default.xml", "--stop-on-error", "--stop-on-fail" ]

volumes:
  db-data-6:
