version: "3.9"

services:
  db:
    image: mariadb:10.7
    ports:
      - "3306:3306"
    volumes:
      - db-data-${WORDPRESS_VERSION:-6}:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: wordpress

  wordpress:
    image: wordlift/wordpress-nginx:${WORDPRESS_VERSION:-6.1.1}
    user: "root"
    entrypoint: [ "/tmp/docker-entrypoint.sh", "/opt/bitnami/scripts/wordpress/entrypoint.sh", "/opt/bitnami/scripts/nginx-php-fpm/run.sh" ]
    volumes:
      - ./.docker/wordpress/docker-entrypoint.sh:/tmp/docker-entrypoint.sh:ro
      - ./.docker/wordpress/docker-entrypoint-init.d:/docker-entrypoint-init.d:ro
      - ./.docker/wordpress/wp-config-extra.php:/tmp/wp-config-extra.php:ro
      - ./.docker/wordpress/opt/bitnami/scripts/libwordpress.sh:/opt/bitnami/scripts/libwordpress.sh:ro
      - ./.docker/wordpress/opt/bitnami/php/etc/conf.d:/opt/bitnami/php/etc/conf.d:ro
      - ./src:/bitnami/wordpress/wp-content/plugins/wordlift
      # - ../pods-export-code:/bitnami/wordpress/wp-content/plugins/pods-export-code
#      - ../advanced-custom-fields-for-schema-org:/var/www/html/wp-content/plugins/advanced-custom-fields-for-schema-org
      # - ../../wordpress/plugins/pods-2.9.3:/bitnami/wordpress/wp-content/plugins/pods
      # - ../../wordpress/plugins/woocommerce-6.9.2:/bitnami/wordpress/wp-content/plugins/woocommerce
#      - ../../wordpress/plugins/wp-recipe-maker-8.5.0:/bitnami/wordpress/wp-content/plugins/wp-recipe-maker
    environment:
      BITNAMI_DEBUG: true
      WORDPRESS_DATABASE_HOST: db
      WORDPRESS_DATABASE_USER: wordpress
      WORDPRESS_DATABASE_PASSWORD: password
      WORDPRESS_DATABASE_NAME: wordpress
#      WORDPRESS_TABLE_PREFIX: wp_q81ara52nh_
      WORDPRESS_ENABLE_HTTPS: "yes"
      WORDPRESS_ENABLE_REVERSE_PROXY: "yes"
      WORDPRESS_EXTRA_WP_CONFIG_CONTENT_FILE: /tmp/wp-config-extra.php
      WORDPRESS_USERNAME: admin
      WORDPRESS_PASSWORD: password
      PHP_IDE_CONFIG: serverName=wordpress

  nginx:
    depends_on:
      - wordpress
    image: nginx:1.21
    ports:
      - "443:443"
    volumes:
      - ./.docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./wp-content:/var/www/html/blog/wp-content:ro

  phpunit:
    image: ziodave/wordpress-tests:php7.4-phpunit7.5-wordpress5.9
    depends_on:
      - db
    volumes:
      - .:/app
    command: [ "-c", "tests/scenarios/phpunit.default.xml", "--stop-on-error", "--stop-on-fail" ]

volumes:
  db-data-6:
