export DB_NAME=<database-name>                                 # database must exist.
export DB_USERID=<database-user-id>
export DB_PASSWORD=<database-password>
export DB_HOST=<database-host>
export WP_VERSION=<wordpress-version>
export WL_DISABLE_SPARQL_UPDATE_QUERIES_BUFFERING=<true|false> # use true for unit tests.
export REDLINK_DATASET_NAME=<redlink-dataset-name>             # create one on my.redlink.io.
export REDLINK_APP_KEY=<redlink-app-key>                       # get one on my.redlink.io.
export REDLINK_APP_NAME=<redlink-app-name>                     # create one on my.redlink.io.
export REDLINK_USER_ID=<redlink-user-id>                       # check in your my.redlink.io profile.
export WP_MULTISITE=<0|1>                                      # whether multisite, use 0 if unsure.

