<!-- <div ng-class="'wl-' + entity.mainType" class="entity">
  <div class="entity-header">
    <i ng-click="onEntitySelect()" ng-hide="annotation" ng-class="{ 'wl-selected' : isSelected, 'wl-unselected' : !isSelected }"></i>
    <i ng-click="onEntitySelect()" class="type"></i>
    <span class="label" ng-click="onEntitySelect()">{{entity.label}}</span>

    <small ng-show="entity.occurrences.length > 0">({{entity.occurrences.length}})</small>
    <span ng-show="isInternal()" class="dashicons dashicons-tag wl-internal"></span>

    <div class="wl-progress-background" ng-show="showConfidence">
      <div class="wl-progress-current" style="width:{{entity.confidence*100}}%"></div>
    </div>

    <i ng-class="{ 'wl-more': isOpened == false, 'wl-less': isOpened == true }" ng-click="toggle()"></i>
  </div>
  <div class="details" ng-show="isOpened">
    <wl-entity-form entity="entity" on-submit="toggle()"></wl-entity-form>
  </div>
</div> -->
<div class="wl-widget-article-metadata-topic-single" >
  <h3>
    <span ng-click="onSelect()">{{entity.label}}</span>
    <strong ng-click="onMore()">open</strong>
  </h3>
  <div class="wl-widget-article-metadata-topic-bar">
    <!-- display the progress bar  -->
    <div class="wl-widget-article-metadata-topic-bar-progress" style="width:{{entity.confidence*100}}%"></div>
  </div>
</div>
