body {
    background: #f5f5f5;
}

.wl-setup {
    color: white;
    padding: 20px;
    background: #2e92ff;
    margin: 100px auto;
    position: relative;
    width: 718px;
    min-height: 400px;
    max-width: calc(100% - 36px);
}

@media only screen and (max-width: 717px) {
    .wl-setup {
        padding: 10px;
        margin: 8px;
        min-height: calc(100% - 36px);
    }
}

#close {
    position: absolute;
    top: -10px;
    right: -6px;
    background: white;
    color: #2e92ff;
    font-size: 20px;
    border-radius: 20px;
    border: 1px #2e92ff solid;
    display: block;
    padding: 0 2px;
}

@media only screen and (max-width: 717px) {
    #close {
        display: none;
    }
}

#title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
}

#wl-title {
    display: flex;
    line-height: 30px;
}

#message {
    text-align: center;
    font-size: 18px;
    margin: 0 auto 30px;
    width: 500px;
    max-width: 100%;
}

#bullets {
    text-align: center;
    flex-grow: 1;
}

.bullet {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
}

.bullet.active {
    background-color: #fff;
}

.bold {
    font-weight: bold;
}

#wl-logo {
    width: 100px;
    font-size: 30px;
}

#topright {
    width: 118px;
    height: 30px;
    background: url('../../images/wizard_top_right.png')
}

#buzzcont {
    width: 420px;
    max-width: 100%;
    margin: 0 auto;
}

.buzz {
    float: left;
    width: 140px;
    margin-top: 10px;
}

.buzz .fa {
    margin-right: 10px;
}

#buttons {
    margin-top: 40px;
    text-align: center;
}

#buttons a {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
    text-decoration: none;
}

#buttons a#nextstep {
    background: black;
    color: white;
}

@media only screen and (max-width: 717px) {
    #buttons a {
        display: block;
        margin: 10px auto;
        width: 100px;
    }
}

.input, .select {
    display: block;
    height: 40px;
    width: 400px;
    max-width: 100%;
    margin: 0 auto 8px;
    /* defining internal child position */
    box-sizing: border-box;
    padding: 8px 40px 8px 8px;
    /*defining text */
    font-size: 16px;
    line-height: 24px;
    /*reset default*/
    outline: none;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0 0 0 2px #FFFFFF, inset 0 0 0 4px #2E92FF;
    border-radius: 4px;
}

.select {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAATNJREFUWAljYBgFoyEwGgKjITAaAgMcAowg+82X/Of7/o5hHRMjw6kLuYxV+NxkMPl/27//DGacQgxBJ2MYP+FTS4wck+e2/+xAy3cCFTsDDa4EWtCNSyNIDqQGpBakB6QXl1pixZlePWbgACqWgWkAWlCCzRFQy0tg6kB6oHqRhEhnMp1NZ/zIys7gANT6BKYd3RFYLH8C0gPSC9NDLg1OAyDNxjP/K//+xbCf4T+DLMwwYJroAbFBDoKJMTAyPGZlY3AEWn4XLkYBA+4AkBnYHIFiNpUtB5nNhGwByFfszMDoAFqELA5mA8VActTyOcx8lBCACZpO+6/08y/DAXh0QC0/ncV4D6aGWjRWB4AMhzsCyAb5nBaWE/SE3vT/YiBMUOGogtEQGA2B0RAYDYGhHAIAbVluGopK7kIAAAAASUVORK5CYII=') no-repeat 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#input .input[data-verify="valid"], .input:valid {
    background: url('../../images/valid.png') no-repeat 98%;
}

#input input[data-verify="invalid"], .input:invalid {
    background: url('../../images/invalid.png') no-repeat 98%;
}

#addlogo {
    margin: 10px 0;
    text-align: center;
}

#addlogo a, #addlogo a:visited {
    color: white;
}

#radio {
    text-align: center;
    margin: 10px 0;
}

#radio label {
    margin-right: 20px;
}

#logo {
    position: relative;
    margin: 20px auto 0;
    width: 100px;
}

#logo img {
    margin: 0 auto;
    display: block;
}

#deletelogo {
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    color: #2e92ff;
    font-size: 20px;
    border-radius: 20px;
    border: 1px #2e92ff solid;
    display: block;
    padding: 0 2px;
}
