@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
  background: #f5f5f5;
  min-height: 100vh;
  /* define font */
  font-family: 'Open Sans';
}

.wl-setup {
  /* defining size and position */
  min-height: 400px;
  width: 700px;
  max-width: 100%;
  margin: auto;
  position: relative;
  /* align vertically */
  top: 50vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* defining internal spaces */
  padding: 34px 24px;
  box-sizing: border-box;
  /* coloring */
  color: white;
  background: #2e92ff;
  /* defining border in order to avoid the media query*/
  border: 16px solid #f5f5f5;
}

#close {
  /* positioning */
  position: absolute;
  display: block;
  top: -15px;
  right: -15px;
  /* size */
  height: 30px;
  width: 30px;
  /* child size and position */
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  /* changing pointer to match a btn setup */
  cursor: pointer;
  /* coloruring and shadow */
  color: #2e92ff;
  background: #FFFFFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.50);
}

#wl-title {
  position: relative;
  display: table;
  width: 100%;
  height: 24px;
  line-height: 24px;
  /* prevent new lines in smaller screens */
  white-space: nowrap;
}

#wl-logo {
  /* size and positionining */
  display: inline-block;
  width: 100px;
  height: 24px;
  line-height: 24px;
  /* text job */
  font-size: 24px;
  font-weight: 200;
  /* colouring */
  color: #FFFFFF;
}

.bold {
  font-weight: 800;
}

#bullets {
  /* size and positioning */
  display: inline-block;
  min-width: calc(100% - 200px);
  max-width: 400px;
  /* positionig childs */
  text-align: center;
}

.bullet {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
}

.bullet.active {
  background-color: #fff;
}

#topright {
  /* size and positioning */
  display: inline-block;
  float: right;
  width: 100px;
  height: 24px;
  line-height: 24px;
  /* defzine bg*/
  background-image: url('../../images/wizard_top_right.png');
  background-position: 42px 5px;
  -webkit-background-size: 58px 14px;
  background-size: 58px 14px;
  background-repeat: no-repeat;
}

#title {
  /* text job */
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  /* colouring */
  color: #FFFFFF;
  /* standard margin */
  margin: 8px 0;
}

#message {
  /* positioning and sizing */
  display: block;
  margin: auto;
  max-width: 400px;
  /* text job */
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  /* colouring */
  color: #FFFFFF;
  /* standard mb */
  margin-bottom: 16px;
}

#buzzcont {
  /* resetting ul props */
  list-style: none;
  margin: 0;
  padding: 0;
  /* size and poitioning */
  max-width: 500px;
  margin: auto;
}

.buzz {
  /* resetting li props*/
  padding: 0;
  /* size and positioning */
  display: inline-block;
  width: 145px;
  height: 40px;
  line-height: 40px;
  /* internal standards */
  white-space: nowrap;
  /* defining margins*/
  margin-right: 16px;
  margin-bottom: 8px;
  /* text job */
  font-size: 14px;
  color: #FFFFFF;
}

.buzz:nth-of-type(3n) {
  margin-right: 0;
}

.buzz:nth-of-type(1n+3) {
  margin-bottom: 0;
}

.buzz .fa {
  margin-right: 8px;
  font-size: 20px;
  line-height: 40px;
}

#buttons {
  /* positioning and size */
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  /* positioning childs */
  text-align: center;
}

#buttons a {
  /* reset default link */
  text-decoration: none;
  display: inline-block;
  /* positioning and size */
  width: 112px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 8px;
  margin-right: 32px;
  /* text job */
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  /* colouring */
  /*background: rgba(0, 0, 0, .4);*/
  background: rgba(255, 255, 255, .4);
  color: #FFFFFF;
  /* control the animation */
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

#buttons a#nextstep {
  /*background: #000000;*/
  background: #FFFFFF;
  color: #2e92ff;
  /* last item do not need margin */
  margin-right: 0;
}

.input, .select {
  display: block;
  height: 32px;
  width: 400px;
  max-width: 100%;
  margin: 0 auto 8px;
  /* defining internal child position */
  box-sizing: border-box;
  padding: 0 16px;
  /*defining text */
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  /*reset default*/
  outline: none;
  border: none;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #FFFFFF, inset 0 0 0 4px #2E92FF;
  border-radius: 4px;
}

.select {
  /* defining bg */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAATNJREFUWAljYBgFoyEwGgKjITAaAgMcAowg+82X/Of7/o5hHRMjw6kLuYxV+NxkMPl/27//DGacQgxBJ2MYP+FTS4wck+e2/+xAy3cCFTsDDa4EWtCNSyNIDqQGpBakB6QXl1pixZlePWbgACqWgWkAWlCCzRFQy0tg6kB6oHqRhEhnMp1NZ/zIys7gANT6BKYd3RFYLH8C0gPSC9NDLg1OAyDNxjP/K//+xbCf4T+DLMwwYJroAbFBDoKJMTAyPGZlY3AEWn4XLkYBA+4AkBnYHIFiNpUtB5nNhGwByFfszMDoAFqELA5mA8VActTyOcx8lBCACZpO+6/08y/DAXh0QC0/ncV4D6aGWjRWB4AMhzsCyAb5nBaWE/SE3vT/YiBMUOGogtEQGA2B0RAYDYGhHAIAbVluGopK7kIAAAAASUVORK5CYII=');
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  background-position: 368px 0;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* prevent longer text */
  text-overflow: ellipsis;
}

input.valid {
  background-image: url('../../images/valid.png');
  background-repeat: no-repeat;
  background-position: 375px 7px;
  /* prevent text over the image*/
  padding-right: 30px;
}

input.invalid {
  background-image: url('../../images/invalid.png');
  background-repeat: no-repeat;
  background-position: 375px 7px;
  /* prevent text over the image*/
  padding-right: 30px;
}

#addlogo {
  margin: 10px 0;
  text-align: center;
}

#addlogo a, #addlogo a:visited {
  color: white;
}

#radio {
  text-align: center;
  margin: 10px 0;
}

#radio label {
  margin: 0 22px;
}

#radio input {
  /* substitue the default radio with a custom one */
  display: none;
}

#radio input[type="radio"]:checked~.radio .check {
  transform: scale(1)
}

#radio input[type="radio"]:not(:checked)~.radio .check {
  transform: scale(0)
}

#radio .radio {
  /* size and positioning */
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  /* style */
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

#radio .radio .check {
  /* size */
  width: 8px;
  height: 8px;
  /* positioning */
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 2px;
  /* colouring */
  background-color: #FFFFFF;
  border-radius: 50%;
  /* animation */
  /*transform: scale(0);*/
  transition: all 200ms ease-out
}

#radio .label {
  width: 80px;
  display: inline-block;
  text-align: left;
}

#logo {
  position: relative;
  margin: 20px auto 0;
  width: 100px;
}

#logo img {
  margin: 0 auto;
  display: block;
}

#deletelogo {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  color: #2e92ff;
  font-size: 20px;
  border-radius: 20px;
  border: 1px #2e92ff solid;
  display: block;
  padding: 0 2px;
}

@media only screen and (max-width: 700px) {
  .wl-setup {
    padding: 20px;
    padding-bottom: 120px;
  }
  #wl-title {
    height: 48px;
  }
  #bullets {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    height: 12px;
    min-width: 100%;
    max-width: 100%;
  }
  #title {
    line-height: 40px;
  }
  .buzz {
    max-width: 45%;
    margin-right: 4px;
  }
  /* resetting desktop margins */
  .buzz:nth-of-type(3n) {
    margin-right: 4px;
  }
  .buzz:nth-of-type(1n+3) {
    margin-bottom: 8px;
  }
  /* new cols margins */
  .buzz:nth-of-type(2n) {
    margin-right: 0;
  }
  .buzz:nth-of-type(1n+4) {
    margin-bottom: 0;
  }
  #radio {
    text-align: left;
  }
  #radio label {
    width: 100%;
    display: block;
    margin: 4px 16px;
  }
  #buttons {
    bottom: 16px;
  }
  #buttons a {
    display: block;
    width: 200px;
    height: 40px;
    /* text job */
    line-height: 24px;
    font-weight: 600;
    /* spacing */
    margin: 8px auto;
  }
  #buttons a#nextstep {
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  .buzz {
    margin: 0 16px;
    width: 100%;
    max-width: 100%;
  }
}

#buttons a:hover, #buttons a#nextstep:hover {
  transform: scale(1.01) translateY(-2px);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .25), 0 15px 20px -15px rgba(0, 0, 0, .25);
}

#buttons a:active, #buttons a#nextstep:active {
  transform: scale(0.99) translateY(0px);
}
