/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wl-posts-pie-chart {
  width: 75%; height: auto;
  transform: rotate(-90deg);
  background: #fff;
  border-radius: 50%;
}

#wl-posts-pie-chart circle {
  fill: #eee;
  stroke: #FF006E;
  stroke-width: 32;
  /* stroke-dasharray: 10 100; for 10% */
}

#wl-entities-gauge-chart {
  width: 65%; height: auto;
  transform: rotate(-180deg);
  background:#fff;
  border-radius: 50%;
  margin-top:1.3em;
}

#wl-entities-gauge-chart circle.stat {
  fill: transparent;
  stroke: #FF006E;
  stroke-width: 14;
  /* stroke-dasharray: 40 100; */

}

#wl-entities-gauge-chart circle.baseline {
  fill: transparent;
  stroke: #eee;
  stroke-width: 14;
  stroke-dasharray: 50 100;
}

#wordlift_dashboard_widget h3 {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABTklEQVR42tVSTyiDcRj+KMtRpFZyUXLV3Fx2VcqFw1o28dVks1kRJeRPWS4oNZGUklZL8qfIYY7KRXZZO7hbbijL733fx8/3hehD+XNweOr3vL+n5/1rwOiXn8CwH1F8F79rIIZfw6fR5cifY44GYkQgoS3w7BG4LwWunwLH0q+8OgL2JMAju+CGaUv/zsCEeBNQIlDb52D3ECi4anHaPIOUdYPrxsDrp/ovrvW9Ti34oPayUPkCuHlS8x7b4DgHqYmBO1bALUs6HvxoBj6wdwFKESighZWDUJfXUIUbcGsSNJ+BuOIv5Ttugd0hUO4KtJ8Fta+B2pJQ9w8W53DKSvLpGtnVCRo/sGexeAKu0G3sXEDdFcG1w2824mggJSbYvwx1WwQ1TUBK/aBoGpTJg6vMrw9JjDC4cRQ8c2hlf+LimQMHNsDlA398if/T4BFvhJYPVlRm7QAAAABJRU5ErkJggg==") 6px 50% no-repeat !important;
  padding-left: 28px;
}

#wl_dashboard_widget_inner_wrapper {
    overflow: hidden;
}
#wl_dashboard_widget_inner_wrapper h4 {
    text-align: left;
    font-size: 0.8em;
    margin: 0 0 1.6em 0;
    text-transform: capitalize;
    border-left: #FF006E 10px solid;
    padding-left: 6px;
    line-height: 1em;
}
#wl_dashboard_widget_inner_wrapper h5 {
    font-size: 1.6em;
    color: #FF006E;
    margin: 0.8em 0 0 0;
}
#wl_dashboard_widget_inner_wrapper p {
    text-align: left;
    border-top:#eee 6px solid;
    padding: 0.4em 0.2em;
    margin: 0 0.4em;
}
.wl-triples {
    font-size: 3.8em;
    line-height: 1.5em;
    color: #FF006E;
    text-align: center;
    padding:1rem 0;
    margin:0.rem 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.wl-stat-graph-wrapper {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wl-stat-card {
    float:left;
    width:33%;
    padding:0px;
    text-align: center;
    margin: auto 0;
    position: relative;

}
.wl-stat-card:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.wl-stat-value {
    font-weight: bold;
    border-bottom:#ff006E 2px solid;
}

.wl-alternative-label {
    position: relative;
    border: 0;
    padding: 0;
}

.wl-alternative-label label {
    color: #777;
    font-size: 1.7em;
    padding: 11px 10px;
    cursor: text;
}

.wl-alternative-label input {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: none;
    margin: 0 0 3px;
    background-color: #fff;
}

.wl-alternative-label .button.wl-delete-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 3px;
    cursor: pointer;
    height: auto;
}

.button.wl-button {
    border: 1px solid #c70056;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: #FF006E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF006E), to(#ef007c));
    background-image: -webkit-linear-gradient(top, #FF006E, #ef007c);
    background-image: -moz-linear-gradient(top, #FF006E, #ef007c);
    background-image: -ms-linear-gradient(top, #FF006E, #ef007c);
    background-image: -o-linear-gradient(top, #FF006E, #ef007c);
    background-image: linear-gradient(to bottom, #FF006E, #ef007c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FF006E, endColorstr=#ef007c);
    box-shadow: none;
}

.button.wl-button:hover {
    color: #fff;
    border: 1px solid #990042;
    background-color: #cc0058;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc0058), to(#bc0062));
    background-image: -webkit-linear-gradient(top, #cc0058, #bc0062);
    background-image: -moz-linear-gradient(top, #cc0058, #bc0062);
    background-image: -ms-linear-gradient(top, #cc0058, #bc0062);
    background-image: -o-linear-gradient(top, #cc0058, #bc0062);
    background-image: linear-gradient(to bottom, #cc0058, #bc0062);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cc0058, endColorstr=#bc0062);
    box-shadow: none;
}

/* wp-admin/edit.php */
#wl_column_thumbnail {
    width: 60px;
}
#wl_column_related_posts {
    width: 100px;
}

#wl-dropdown-classification-scope option {
    text-transform: capitalize;
}

#wl_column_rating {
    width: 100px;
    text-align: center;
}
.wl-traffic-light {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:5px auto;
  color:#fff;
  font-weight: bold;
  font-size: 0.8em;
}
.wl_column_rating {
  text-align: center;
}

.wl-tl-1 {
  background-color:#f00;
}
.wl-tl-2 {
  background-color:#f90;
}
.wl-tl-3 {
  background-color:#6c0;
}

