/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wl-alternative-label {
    position: relative;
    border: 0;
    padding: 0;
}

.wl-alternative-label label {
    color: #777;
    font-size: 1.7em;
    padding: 11px 10px;
    cursor: text;
}

.wl-alternative-label input {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: none;
    margin: 0 0 3px;
    background-color: #fff;
}

.wl-alternative-label .button.wl-delete-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 3px;
    cursor: pointer;
    height: auto;
}

.button.wl-button {
    border: 1px solid #c70056;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: #FF006E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF006E), to(#ef007c));
    background-image: -webkit-linear-gradient(top, #FF006E, #ef007c);
    background-image: -moz-linear-gradient(top, #FF006E, #ef007c);
    background-image: -ms-linear-gradient(top, #FF006E, #ef007c);
    background-image: -o-linear-gradient(top, #FF006E, #ef007c);
    background-image: linear-gradient(to bottom, #FF006E, #ef007c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FF006E, endColorstr=#ef007c);
    box-shadow: none;
}

.button.wl-button:hover {
    color: #fff;
    border: 1px solid #990042;
    background-color: #cc0058;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc0058), to(#bc0062));
    background-image: -webkit-linear-gradient(top, #cc0058, #bc0062);
    background-image: -moz-linear-gradient(top, #cc0058, #bc0062);
    background-image: -ms-linear-gradient(top, #cc0058, #bc0062);
    background-image: -o-linear-gradient(top, #cc0058, #bc0062);
    background-image: linear-gradient(to bottom, #cc0058, #bc0062);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#cc0058, endColorstr=#bc0062);
    box-shadow: none;
}

/* wp-admin/edit.php */
#wl_column_thumbnail {
    width: 60px;
}
#wl_column_related_posts {
    width: 100px;
}

#wl-dropdown-classification-scope option {
    text-transform: capitalize;
}

#wl_column_rating {
    width: 100px;
    text-align: center;
}
.wl-traffic-light {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin:5px auto;
  color:#fff;
  font-weight: bold;
  font-size: 0.8em;
}
.wl_column_rating {
  text-align: center;
}

.wl-tl-1 {
  background-color:#f00;
}
.wl-tl-2 {
  background-color:#f90;
}
.wl-tl-3 {
  background-color:#6c0;
}

