.wl-video-modal {


  &__header {
    height: 8%;
    background: #FFFFFF;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.08);
    border-radius: 8px 8px 0px 0px;
    width: 100%;
  }

  &--full-width {
    width: 90%;
    height: 95%;
    padding: 0;

  }

  &__menu_button {

    cursor: pointer;
    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}