<!DOCTYPE html>
<style>
  [ng-cloak] {
  	display: none;
  }
</style>
<div id='wordliftApp' ng-controller='TasksCtrl'>
  <div class='alert alert-info'>
    <span class='label label-info'>
      Running Tasks
    </span>
    Here are listed the analysis tasks currently running on your blog
    <br clear='all'>
    <span class='label label-info'>
      Awaiting Disambiguation
    </span>
    Here you'll find all the posts that required your attention (entities shall be selected for each post and disambiguated)
    <br clear='all'>
    <span class='label label-info'>
      Completed Tasks
    </span>
    Here is the list of all the post you have been
    <strong>WordLifting</strong>
    successfully
  </div>
  <ul class='nav nav-pills'>
    <li ng-class="{running:'active'}[state]">
      <a ng-click="select('running')">
        Running Tasks
      </a>
    </li>
    <li ng-class="{completed:'active'}[state]">
      <a ng-click="select('completed')">
        Awaiting Disambiguation
      </a>
    </li>
    <li ng-class="{disambiguated:'active'}[state]">
      <a ng-click="select('disambiguated')">
        Completed Tasks
      </a>
    </li>
  </ul>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          State
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='task in data'>
        <td>
          <a href='{{task.edit}}'>
            {{task.title}}
          </a>
        </td>
        <td ng-class='state'>
          {{state}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
