$primary-color: #177EFB;

.wl-faq-question-title {
  word-wrap: break-word;
  color: black;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  &:hover {
    color:$primary-color;
  }
}