%form{:class => "form-inline", :id => "loginForm", :"ng-submit" => "login()"}
	%fieldset
		%legend
			Login

		%ul{:class => "signin"}
			%li{:class => "twitter", :"ng-click" => "signIn('twitter')"}
			%li{:class => "facebook", :"ng-click" => "signIn('facebook')"}
			%li{:class => "linkedin", :"ng-click" => "signIn('linkedin')"}

		%div{:class => "alert", :"ng-class" => "alertClass", :"ng-bind-html-unsafe" => "alert", :"ng-show" => "alert"}
		%input{:type => "text", :placeholder => "Username", :"ng-model" => "userName"}
		%input{:type => "password", :placeholder => "Password", :"ng-model" => "password"}
		%button{:type => "submit", :class => "btn btn-primary"}
			Login
		%span{:class => "help-block"}
			Login to retrieve your consumer key


%div{:class => "alert alert-info"}
	%span{ :class => "label label-info" }
		Register

	%a{ :href => "#/register" }
		Click here to register

