%div{:class => "row"}
	%div{:class => "span12", :"ng-hide" => "isLoggedIn"}
		%form{:class => "horizontal", :"ng-submit" => "login()"}
			%div{:class => "control-group"}
				%label{:class => "control-label", :for => "username"}
					Username
				%div{:class => "controls"}
					%input{:id => "username", :type => "text", :placeholder => "Username", :"ng-model" => "username", :required => true}
			%div{:class => "control-group"}
				%label{:class => "control-label", :for => "password"}
					Password
				%div{:class => "controls"}
					%input{:id => "password", :type => "password", :placeholder => "Password", :"ng-model" => "password", :required => true}
			%div{:class => "control-group"}
				%div{:class => "controls"}
				%button{:class => "btn btn-large btn-primary", :type => "submit"}
					Login

%div{:class => "row"}
	%div{:class => "span12", :"ng-hide" => "isLoggedIn"}
		%a{:class => "btn btn-large", :"ng-click" => "register()"}
			Register
