!!! 5

/ %link{:rel => "stylesheet", :href => "../wp-content/plugins/wordlift/css/bootstrap.min.css", :type => "text/css", :charset => "utf-8"}
/ %script{:type => "text/javascript", :src => "../wp-content/plugins/wordlift/js/jquery-1.8.2.min.js"}
/ %script{:type => "text/javascript", :src => "../wp-content/plugins/wordlift/js/bootstrap.min.js"}
/ %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"}
%script{:type => "text/javascript", :src  => "../wp-content/plugins/wordlift/js/userly/userly.js"}
%script{:type => "text/javascript", :src  => "../wp-content/plugins/wordlift/js/userly/app.js"}
%script{:type => "text/javascript", :src  => "../wp-content/plugins/wordlift/js/spin.min.js"}

:css
	@import url(http://fonts.googleapis.com/css?family=Paprika);

	.divider {
		font-family: 'Paprika', cursive;
		font-weight: bold;
		margin-top: -8px;
		margin-bottom: 10px;
	}

	input {
		/* enforce the box-sizing */
		box-sizing: content-box !important;
	}

%div{:class => "container", :id => "userlyApp"}

	%div{:class => "row", :id=> "spinnable"}
		%div{:class => "span7 well"}
			%div{:class => "tabbable"}
				%ul{:class => "nav nav-tabs"}
					%li{:class => "active"}
						%a{:href => "#userlogin", :"data-toggle" => "tab"}
							Login/Register
					%li
						%a{:href => "#consumerKey", :"data-toggle" => "tab"}
							Consumer Key
				%div{:class => "tab-content"}
					%div{:class => "tab-pane active", :id => "userlogin", :"ng-view" => true}

					%div{:class => "tab-pane", :id => "consumerKey", :"ng-controller" => "ConsumerKeyCtrl"}

						%form{:class => "form-inline", :"ng-submit" => "setConsumerKey()"}
							%fieldset
								/ %legend
								/ 	Consumer Key
								%div{:class => "alert", :"ng-class" => "alertClass", :"ng-bind-html-unsafe" => "alert", :"ng-show" => "alert"}
								%input{:type => "text", :placeholder => "Consumer Key", :required => true, :"ng-model" => "consumerKey"}
								%button{:type => "submit", :class => "btn btn-primary"}
									Save
								%span{:class => "help-block"}
									Type here your consumer key

:coffee
	angular.element(document).ready ->
		angular.bootstrap document.getElementById( "userlyApp" ), [ "userlyApp" ]