.wl-faq-fab {
  border-radius: 8px !important;
  width: 100%;
  margin: 3px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid #eee;
}