<form class='form-inline' id='loginForm' ng-submit='login()'>
  <fieldset>
    <legend>
      Login
    </legend>
    <ul class='signin'>
      <li class='twitter' ng-click="signIn('twitter')"></li>
      <li class='facebook' ng-click="signIn('facebook')"></li>
      <li class='linkedin' ng-click="signIn('linkedin')"></li>
    </ul>
    <div class='alert' ng-bind-html-unsafe='alert' ng-class='alertClass' ng-show='alert'></div>
    <input ng-model='userName' placeholder='Username' type='text'>
    <input ng-model='password' placeholder='Password' type='password'>
    <button class='btn btn-primary' type='submit'>
      Login
    </button>
    <span class='help-block'>
      Login to retrieve your consumer key
    </span>
  </fieldset>
</form>
<div class='alert alert-info'>
  <span class='label label-info'>
    Register
  </span>
  <a href='#/register'>
    Click here to register
  </a>
</div>
