%div{ :id => "wordlift-disambiguate", :"ng-controller" => "DisambiguationsController" }

	%div{ :class => "alert alert-info" }
		Use the controls below to:
		%br{ :clear => "all" }
			%span{ :class => "label label-info" }
				Analyze
			Start an new analysis task on the post contents
			%span{ :class => "label label-info" }
				Disambiguate
			Select the right entities among those discovered


	%div{ :"ng-controller" => "JobController", :class => "wordlift job"}

		%div{ :class => "refresh", :"ng-show" => "!isRunning()", :"ng-click" => "postJob()" }
		%div{ :"ng-class" => "{true: 'running', false: ''}[isRunning()]" }
			{{state}}

	%div{ :class => "disambiguation", :"ng-class" => "{true:'working', false:''}[disambiguation.working]", :"ng-repeat" => "disambiguation in disambiguations" }

		%ul
			%li{ :"ng-repeat" => "entity in disambiguation.entities | orderBy:'highestConfidence':true | orderBy:'selected':true", :"ng-mouseenter" => "highlight( entity )", :"ng-click" => "clearAndBind( disambiguation, entity )", :"ng-class" => "{true:'selected', false:''}[entity.selected]" }

				%div{ :class => "entity-edit" }
					%a{ :class => "icon-pencil", :href => "admin.php?page=entities_management#/edit/{{getSimpleName(entity.about)}}" }
				%div{ :class => "image", :style => "background-image: url('{{entity.image[0]}}');" }
				%div{ :class => "name" }
					{{entity.name}}
				%div{ :class => "type", :"ng-class" => "getTypeName( entity.type )" }
				%div{ :class => "confidence highest", :style => "width: {{entity.highestConfidence * 100}}%" }
				%div{ :class => "confidence lowest", :style => "width: {{entity.lowestConfidence * 100}}%" }


