.wl-add-question-button {
  height: 30px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #177EFB;
  cursor: pointer;
  &:hover {
    background-color: #177EFB;
    color: white;
  }
}