$primary-color: #177efb;

.wl-add-question-button {
  background-color: white;
  border-radius: 7px;
  font-size: 12px !important;
  border: 2px solid $primary-color;
  cursor: pointer;
  height: 25px;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
