$place-gradient:linear-gradient(bottom, #4e9014,#7bb34a 100%);
$creative-work-gradient:linear-gradient(bottom, #961010,#bc0202 100%);
$organization-gradient:linear-gradient(bottom, #3c6f9f,#3c88d0 100%);
$person-gradient:linear-gradient(bottom, #32aeac,#47dfdd 100%);
$event-gradient:linear-gradient(bottom, #52a7c2,#4bc1e6 100%);
$product-gradient:linear-gradient(bottom, #983797,#da4dd9 100%);
$thing-gradient:linear-gradient(bottom, #ce9d03,#deab09 100%);

$place-url:"place.png";
$creative-work-url:"creativework.png";
$organization-url:"organization.png";
$person-url:"person.png";
$event-url:"event.png";
$product-url:"product.png";
$thing-url:"other.png";

$tiles-width:496px;

$tile-margin-top:4px;
$tile-margin-right:4px;
$tile-margin-bottom:4px;
$tile-margin-left:4px;
$tile-padding-top:2px;
$tile-padding-right:2px;
$tile-padding-bottom:2px;
$tile-padding-left:2px;

$tile-width:( $tiles-width / 4 ) - $tile-margin-right - $tile-margin-left - $tile-padding-right - $tile-padding-left;
$tile-height:$tile-width;

$tiles-height:$tile-height + $tile-margin-top + $tile-margin-bottom + $tile-padding-top + $tile-padding-bottom;

.arrowscroller {
  &.left, &.right {
    height:$tile-height;
  }

  &.left {
    background: inline-image("left_arrow.png") center center no-repeat;
  }

  &.right {
    background: inline-image("right_arrow.png") center center no-repeat;
  }
}

.container.entities {

  position: relative;

  overflow-x: scroll;

  width: $tiles-width;

  .tiles.entities {

    width: $tiles-width;
    height: $tiles-height;

    background: lightgoldenrodyellow;

    white-space: nowrap;

    .tile.entity {
      display: inline-block;
      position: relative;
      overflow: hidden;

      width: $tile-width;
      height: $tile-height;

      margin: $tile-margin-top $tile-margin-right $tile-margin-bottom $tile-margin-left;
      padding: $tile-padding-top $tile-padding-right $tile-padding-bottom $tile-padding-left;

      background: gray;

      .type {
        position: absolute;

        right: 0;
        bottom: 0;

        width: 40px;
        height: 40px;

        font-size:0pt; // hide the text
      }

      .description, .url {
        display: none;
      }

      background:gray;

      &.place {
        @include background( $place-gradient );

        .type {
          background: inline-image( $place-url );
        }
      }

      &.creativework {
        @include background( $creative-work-gradient );

        .type {
          background: inline-image( $creative-work-url );
        }
      }

      &.organization {
        @include background( $organization-gradient );

        .type {
          background: inline-image( $organization-url );
        }
      }

      &.person {
        @include background( $person-gradient );

        .type {
          background: inline-image( $person-url );
        }
      }

      &.event {
        @include background( $event-gradient );

        .type {
          background: inline-image( $event-url );
        }
      }

      &.product {
        @include background( $product-gradient );

        .type {
          background: inline-image( $product-url );
        }
      }

      &.thing {
        @include background( $thing-gradient );

        .type {
          background: inline-image( $thing-url );
        }
      }

    }
  }
}
