#wordliftApp {
	.nav.nav-pills {
		margin-bottom: 0;
	}

	.add-property a {
		display: block;
		width: 300px;
		padding-left: 20px;
		background-repeat: no-repeat;
	}

	.column-key {
		width: 320px;
	}

	.new-property {
		.type {
			width: 100px;
		}

		.language {
			width: 40px;
		}	
	}
}