$width: 80px;
$height: 80px;

ul.entity-list {
    height: $height + 20px;

	list-style: none;
	white-space: nowrap;
	// overflow: auto;
	margin-left: 0;

	li {
		@include entity-backgrounds;

		display: inline-block;
		vertical-align: top;
		margin: 2px;
		border: 0px;
	}

}

.entity-box {
	position: relative;
	padding: 2px;
	border: 1px solid;
	height: $height;
	width: $width;
	overflow: hidden;
	overflow-y: scroll;
	white-space: normal;
	font-family: Helvetica;

	.entity-link {
		display: block;
		text-decoration: none;
		color: black;

		&:visited {
			color: black;
		}
	}

	.names {
		white-space: nowrap;
	}

	.name {
		width: $width;
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		text-decoration: none;
		color: black;
		font-size: 11px;
		line-height: 14px;
		font-weight: bold;
	}

	.image {
		position: absolute;
		max-width: 40px;
		max-height: 40px;
		left: 2px;
		bottom: 2px;
	}

	.title {
		margin-top: 68px;
		font-weight: bold;
	}

	.description {
		margin-top: 68px;
		text-align: justify;
		line-height: 10px;
	}

	.type {
		
		@include entity-type;

		position: absolute;
		right: 2px;
		bottom: 0px;
	}
}

.arrowscroller.left, .arrowscroller.right {
  height: $height + 20px;
}

.arrowscroller.left {
  background: url('../img/arrow-2.png') center center no-repeat;
}

.arrowscroller.right {
  background: url('../img/arrow-1.png') center center no-repeat;
}

.entity-container {
  overflow-x: scroll;
  height: $height + 20px;
  width: 544px;
}