#map {
	font-family: Helvetica;

	#popup {
		width: 222px !important;
		height: auto !important;
		max-height: 300px;
		overflow: auto;

		#popup_contentDiv {
			height: auto !important;
		}
	}

	.layersDiv {
		font-weight: normal;
		
		input {
			margin: 3.85px 3px !important;
		}
	}

	.image {
		float: left;
		max-width: 50px;
		max-height: 50px;
		padding: 2px;
		overflow: auto;
	}

	.name {
		text-align: right;
		font-weight: bold;
	}

	.type {
		position: absolute;
		right: 0px;
		@include entity-type;
	}

	ul {
		margin-top: 36px;
		text-align: justify;
		font-size: 14px;
		list-style: none;
		margin-left: 0px;

		li {
			border-top: 1px dashed;

			a, a:visited {
				text-decoration: none;
				border-bottom: 1px solid blue;
				color: black;
			}
		}
	}
}