.treemap.toolbar {
  margin-bottom: 4px;

  .selector {
    display: inline-block;
    cursor: pointer;

    padding: 0 8px 0 2px;

    border-right: 1px solid gray;

    @include entity-symbols;
    background: none !important;
  }
}

#wordlift.treemap {
  width: 100%;

  .entity {
    border: 0px solid gray;
    margin: 2px;
    padding: 2px;

    .type, .count {
      display: none;
    }

    @include entity-symbols;
  }
}
