.container.ng-scope {
	margin-top: 10px;

	input {
		-moz-box-sizing: content-box !important;
	}
}

.separator {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
}

.signin {
	

	* {
		display: inline-block;

		width: 150px;
		height: 22px;

		margin: 2px;

		cursor: pointer;

		&:hover {
			background-position: 0px 22px;
		}
	}


	.twitter {
		background-image: url( "../img/twitter_signin.png" );	
	}

	.facebook {
		background-image: url( "../img/facebook_signin.png" );
	}

	.linkedin {
		background-image: url( "../img/linkedin_signin.png" );
	}

}