$place-color: #4e9014;
$creativework-color: #961010;
$organization-color: #3c6f9f;
$person-color: #32aeac;
$event-color: #52a7c2;
$product-color: #983797;
$thing-color: #ce9d03;

$bar-height: 100px;

#wordlift-bar {
	position: fixed;
	height: $bar-height;
	background: gray;
	width: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;	
	text-align: center;
	@include background-image(linear-gradient(white, #cccccc 30%, #bbbbbb 70%, #aaaaaa));
	@include single-box-shadow;
	@include transition-property(height);
	@include transition-duration(3s);

	#wordlift-bar-switch {
		position: absolute;
		top: -32px;
		width: 32px;
		height: 32px;
		background: inline-image("../img/wordlift-logo-32x32.gif");
		display: inline-block;
		margin-left: -16px;
		padding: 0;
		cursor: pointer;
		@include transition-duration(1s);
		@include transition-property(background);

		&:hover {
			background: inline-image("../img/wordlift-arrow-down.gif");
		}
	}

	&.closed {
		height: 0px;

		#wordlift-bar-switch:hover {
			background: inline-image("../img/wordlift-arrow-up.gif");
		}
	}


	ul {
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;

		li {
			display: inline-block;
			vertical-align: top;
			height: $bar-height;
		}

		li.separator {
			width: 1px;
			background: black;
			@include background-image(linear-gradient(#aaa, #ccc 20%, #bbb));
		}

		li.entity {
			width: 200px;
			// border-right: 2px dotted gray;
			white-space: normal;
			font-size: 10px;
			overflow-y: scroll;
			padding: 4px;

			&:hover {
				background: #ccc;
			}

			// &:first-child {
			// 	border-left: 2px dotted gray;
			// }

			h1 {
				color: black;
				font-size: 12px;
				line-height: 20px;
				margin-bottom: 4px;
				border-bottom: solid 1px;
				background-repeat: no-repeat;
				background-position: right 0px bottom 4px;
			}

			&.place {
				h1 {				
					border-bottom-color: $place-color;
					background-image: url("../img/icon-place.png");
				}
			}
			&.person {
				h1 {
					border-bottom-color: $person-color;
					background-image: url("../img/icon-person.png");
				}
			}
			&.event {
				h1 {
					border-bottom-color: $event-color;
					background-image: url("../img/icon-event.png");
				}
			}
			&.creativework {
				h1 {
					border-bottom-color: $creativework-color;
					background-image: url("../img/icon-creativework.png");
				}
			}
			&.organization {
				h1 {
					border-bottom-color: $organization-color;
					background-image: url("../img/icon-organization.png");
				}
			}
			&.product {
				h1 {
					border-bottom-color: $product-color;
					background-image: url("../img/icon-product.png");
				}
			}
			&.thing {
				h1 {
					border-bottom-color: $thing-color;
				}
			}


			a {
				text-decoration: none;
			}

			img {
				max-width:60px;
				max-height:60px;
				float: left;
				margin-right: 4px;
				margin-bottom: 4px;
			}

			p {
				text-align: justify;
				font-weight: normal;
				color: black;
			}
		}
	}
}
