.mceContentBody .highlight {
  background-color: lightGoldenrodYellow;
  border: 1px solid darkgrey;
  padding: 2px;

  &.strong {
    background-color: yellow;
    font-weight: bold;
  }
}

#wordlift-disambiguate {
  overflow: auto;

  font-size: 14px;
  font-family: Times;

  .alert {
    display: block;
    margin: 0 0 10px;
    height: auto;
    width: auto;
    position: inherit;
    top: inherit;
    left: inherit;
    z-index: 100;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  div.disambiguation {
    overflow: hidden;
    float: left;

    width: 240px;
    height: 41px;

    margin: 4px;

    &:hover {
      overflow: visible;
      height: auto;

      li {
        z-index: 1;
      }
    }

    &.working ul li {
      cursor: progress;
    }

    ul {
      width: 238px;

      padding: 0px;
      margin: 0px;
      list-style: none;

      border: 1px solid #C095CC;
      border-bottom: 0px;

      background: white;

      li {
        position: relative;

        overflow: auto;
        height: 39px;

        padding: 0;
        margin: 0;

        border-bottom: 1px solid #C095CC;

        background: white;

        cursor: pointer;

        &.selected {
          background: lighten( #C095CC, 20% );
        }

        &:hover {
          background: lighten( #C095CC, 15% );
        }

        .entity-edit {
          width: 14px;
          height: 14px;
          padding: 4px;
          margin-top: 4px;
          float: left;

          a {
            padding: 0;
            margin: 0;
          }
        }

        .image {
          float: left;

          width: 30px;
          height: 20px;

          margin: 4px;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .name {
          width: 220px;
          font-weight: bold;

          margin-top: 2px;
        }

        .type {
          position: absolute;

          right: 2px;
          bottom: 0px;

          width: 20px;
          height: 20px;

          margin: 6px 2px;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          &.place {
            background-image: url('../img/noun_project_462.svg');
          }
          &.organization {
            background-image: url('../img/noun_project_921.svg');
          }
          &.creativework {
            background-image: url('../img/noun_project_2572.svg');
          }
          &.person {
            background-image: url('../img/noun_project_419.svg');
          }
          &.event {
            background-image: url('../img/noun_project_404.svg');
          }
          &.product {
            background-image: url('../img/noun_project_7341.svg');
          }
        }

        .confidence {
          position: absolute;
          left: 0;
          bottom: 0;

          &.lowest {
            height: 2px;
            background: #C095CC;
          }
          &.highest {
            height: 4px;
            background: lighten( #C095CC, 10% );
          }
        }
      }

    }
  }


  .wordlift.job {
    overflow: auto;

    margin-bottom: 10px;
    padding: 4px;

    border-bottom: 1px solid lightgray;

    .refresh {
      float: left;

      width: 20px;
      height: 20px;
      margin-right: 4px;

      background-image: url('../img/noun_project_2223.svg');
      background-repeat: no-repeat;
      background-size: 20px;

      cursor: pointer;
    }

    .running {
      height: 20px;

      padding-left: 22px;

      background-image: url('../img/spinner3-black.gif');
      background-repeat: no-repeat;
      background-size: 20px;
    }

  }

}