.wl-modal {
  display: none;
  z-index: 99999 !important;
  height: 65%;
  width: 55%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px !important;
  padding: 10px;
  &.wl-modal--open {
    display: block;
  }
  &.wl-modal--closed {
    display: none;
  }
}
