#wl-faq-meta-list-box {
  max-height: 380px;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}
@mixin wl-faq-highlight-mixin {
  wl-faq-question {
    background-color: #00ffa1 !important;
    opacity: 0.9;
    display: inline-block;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  wl-faq-answer {
    background-color: #b9d25d !important;
    cursor: pointer;
    opacity: 0.9;
    display: inline-block;
    &:hover {
      opacity: 1;
    }
  }
}

