@wl-anime-global-time: all 200ms ease-out;

.wl-open {
  transition: @wl-anime-global-time;
}

.wl-close {
  transform: rotate(180deg);
  transition: @wl-anime-global-time;
}

.wl-global-wrap-open {
  display: block;
}
.wl-global-wrap-close {
  display: none;
}

