// TinyMCE
span.mce_wordlift {
  background: data-uri('../images/wordlift-logo-20x20.png');
}

#wordlift-disambiguation-popover {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 40px;
  right: 10px;
  background: white;
  z-index: 999;
  border: 1px solid darkgray;
  padding: 10px;
  overflow: auto;
}

.bootstrap {
  @import "../bower_components/bootstrap/less/bootstrap.less";
}