// TinyMCE
.wp_themeSkin span.mce_wordlift {
  background: data-uri('../images/wordlift-logo-20x20.png');
}

#wordlift-disambiguation-popover {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 40px;
  right: 10px;
  z-index: 999;

  .content {
    height: 400px;
    background: white;
    border: 1px solid darkgray;
    padding: 10px;
    overflow: auto;
  }

  .bubble-arrow-border {
    border-color: #666666 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-3px;
    left:30px;
  }

  .bubble-arrow {
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:0px;
    left:30px;
  }
}

#wpadminbar .ab-top-menu> li#wp-admin-bar-wordlift {
  float: right; // push the WordLift logo to the extreme right.

  > .ab-item {
    width: 12px;
    background: data-uri('../images/wordlift-logo-pink-28x28.png') center no-repeat;
  }

  &:hover > .ab-item {
    background: data-uri('../images/wordlift-logo-black-28x28.png') center no-repeat;
  }

  > .ab-sub-wrapper {
    right: 0;
    left: auto;
  }
}

 div.wp-menu-image:before

#adminmenu .toplevel_page_wordlift-admin-entities, #adminmenu #menu-posts-entity .menu-icon-post {

  div.wp-menu-image {
    background: data-uri('../images/blocks-20x20.png') center no-repeat !important;
    opacity: 1;
    filter: alpha(opacity=100);

    &:before { content: ''; }
  }

  &:hover div.wp-menu-image {
    background: data-uri('../images/blocks-blue-20x20.png') center no-repeat !important;
  }

  &.current div.wp-menu-image, &.wp-menu-open div.wp-menu-image {
    background: data-uri('../images/blocks-white-20x20.png') center no-repeat !important;
  }
}

#wordlift-disambiguation-popover {
  display: none;

  .handlediv:before {
    content: '\f158';
    right: 12px;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    padding: 8px 10px;
    top: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
  }
}

.bootstrap {
  @import "../bower_components/bootstrap/less/bootstrap.less";
}