
@import '../bower_components/components-font-awesome/less/font-awesome.less';
@import "colors.less";

.annotation_(@type, @icon, @hover-color) {
  border-color: @type;

}

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.textannotation-decoration(@type, @icon, @color: black) {
    border-bottom: 2px solid @type !important;
    color: @color;
    background-color: @type;
    vertical-align:center;
}

.textannotation {
  border-bottom: 2px solid #2b2b2b;
  padding: 2px;
  cursor: hand;

  &.place {
    .textannotation-decoration(@place, @fa-var-map-marker); }

  &.person {
    .textannotation-decoration(@person, @fa-var-user); }

  &.organization {
    .textannotation-decoration(@organization, @fa-var-building-o); }

  &.event {
    .textannotation-decoration(@event, @fa-var-calendar); }

  &.music {
    .textannotation-decoration(@music, @fa-var-music, white); }

  &.thing {
    .textannotation-decoration(@thing, @fa-var-square-o); }

  &.creativework {
    .textannotation-decoration(@creativework, @fa-var-square-o, white); }

  .textannotation {
    border: 0;
  }
}

body#tinymce[contenteditable=false] {
  background-color: rgb(241, 241, 241);
}