
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.textannotation {
  border-bottom: 2px solid #2b2b2b;
  padding: 2px;
  cursor: hand;

  &.disambiguated {
    background: lightgreen;
    border: 1px solid #006400;
  }

  .textannotation {
    border: 0;
  }
}