// TinyMCE
span.mce_wordlift {
  background: data-uri('../images/wordlift-logo-20x20.png');
}

#wordlift-disambiguation-popover {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 40px;
  right: 10px;
  z-index: 999;

  .content {
    height: 400px;
    background: white;
    border: 1px solid darkgray;
    padding: 10px;
    overflow: auto;
  }

  .bubble-arrow-border {
    border-color: #666666 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-3px;
    left:30px;
  }

  .bubble-arrow {
    border-color: white transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:0px;
    left:30px;
  }
}

#wpadminbar .ab-top-menu> li#wp-admin-bar-wordlift {
  float: right; // push the WordLift logo to the extreme right.

  > .ab-item {
    width: 12px;
    background: data-uri('../images/wordlift-logo-pink-32x32.png');
  }

  &:hover > .ab-item {
    background: data-uri('../images/wordlift-logo-black-32x32.png');
  }

  > .ab-sub-wrapper {
    right: 0;
    left: auto;
  }
}

.bootstrap {
  @import "../bower_components/bootstrap/less/bootstrap.less";
}