article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* 2*16 = 32 */
/* 1.5*16 = 24 */
/* 1.17*16 = 18.72 */
/* 1*16 = 16 */
/* 0.83*16 = 13.28 */
/* 0.75*16 = 12 */
body {
  text-rendering: optimizeLegibility;
}

h1, p, ul, ol, dl, dd, table, form, picture, figure, blockquote, pre {
  margin-bottom: -0.5em;
  display: block;
}

html {
  font-size: 87.5%;
  line-height: 1.6;
  font-weight: 400;
}
@media screen and (min-width: 37em) {
  html {
    font-size: 100%;
    line-height: 1.5;
  }
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.75em;
}

p {
  line-height: 1.5;
  margin: 0 0 1em;
  word-break: break-all;
  word-break: break-word;
}

a {
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.2s linear 0s;
  text-decoration: underline;
  color: inherit;
}
a:visited {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #007aff;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

figure img {
  margin-bottom: 0.375em;
}

figcaption {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 300;
  font-size: 0.857em;
  color: #4d4d4d;
}
@media screen and (min-width: 70em) {
  figcaption {
    font-size: 0.667em;
  }
}

.blog-entry blockquote {
  font-family: "nimbus-sans", sans-serif;
  color: gray;
  font-weight: 300;
  padding: 0 1.5em;
  border-left: 2px solid #007aff;
}

pre {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ededed), color-stop(50%, #f2f2f2));
  background: -moz-linear-gradient(top, #ededed 50%, #f2f2f2 50%);
  background: -webkit-linear-gradient(top, #ededed 50%, #f2f2f2 50%);
  background: linear-gradient(to bottom, #ededed 50%, #f2f2f2 50%);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 4.5em 4.5em;
  padding: 1.125em;
  overflow: auto;
  border-left: 3px solid #999999;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  p,
  h2,
  h2 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
img,
video,
embed,
object {
  display: block;
}

body, input, button {
  -webkit-font-smoothing: antialiased;
}

.wrap {
  *zoom: 1;
  max-width: 52.5em;
  _width: 52.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 50em) {
  .wrap {
    overflow: visible;
  }
}

.grid {
  overflow: hidden;
  *zoom: 1;
}

.news-list__item {
  width: 100%;
  float: left;
  margin-right: 1.96078%;
  display: inline;
}
@media screen and (min-width: 50em) {
  .news-list__item {
    width: 23.52941%;
    float: left;
    margin-right: 1.96078%;
    display: inline;
  }
  .news-list__item:last-child {
    margin-right: 0 !important;
  }
}

.left-column {
  width: 100%;
  float: left;
  margin-right: 2.9703%;
  display: inline;
}
@media screen and (min-width: 50em) {
  .left-column {
    width: 22.77228%;
    float: left;
    margin-right: 2.9703%;
    display: inline;
  }
}

.right-column {
  width: 100%;
  float: left;
  margin-right: 2.9703%;
  display: inline;
}
@media screen and (min-width: 50em) {
  .right-column {
    width: 74.25743%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5em;
    display: inline;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #1c1c1c;
  -moz-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  -webkit-transition: opacity 0.3s linear;
  -webkit-transition-delay: 0s;
  transition: opacity 0.3s linear 0s;
}

::selection {
  color: white;
  background-color: #007aff;
}

::-moz-selection {
  color: white;
  background-color: #007aff;
}

img,
video,
embed,
object {
  max-width: 100%;
}

.wl-glossary-widget {
  margin-top: 150px;
}

.wl-letter-block {
  overflow: hidden;
  *zoom: 1;
}

.wl-glossary-selected-letter {
  font-size: 4em;
}

.wl-glossary-alphabet-nav {
  position: fixed;
  top: 0;
  height: 100px;
  background-color: #fff;
  padding: 30px 0;
  text-align: center;
  z-index: 100;
  border-bottom: 4px solid #007aff;
}
.wl-glossary-alphabet-nav .active {
  background-color: #007aff;
  color: #fff;
}
.wl-glossary-alphabet-nav .disabled {
  color: #e6e6e6;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 5px;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
}
wl-glossary-alphabet-nav a {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-right: 5px;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
}
.wl-glossary-alphabet-nav a:hover {
  background-color: #007aff;
  color: #fff;
}
.wl-glossary-alphabet-nav a span {
  display: block;
  margin-top: 1px;
}
.wl-glossary-alphabet-nav a:last-child {
  margin-right: 0;
}

.wl-glossary-items-list {
  list-style: none;
  margin: 40px 0;
  column-count: 2;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
@media screen and (min-width: 50em) {
  .wl-glossary-items-list {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}
