<aside class='avgrund-popup' id='delete-confirmation-dialog'>
  <div class='alert alert-block'>
    <button class='close' ng-click='cancelDeleteProperty()' type='button'>
      &times;
    </button>
    <h4>
      Warning!
    </h4>
    Are you sure you want to delete the property? The action cannot be undone.
    <br>
    <br>
    <div class='pagination-centered'>
      <button class='btn btn-warning' ng-click='confirmDeleteProperty()'>
        Delete
      </button>
      <button class='btn' ng-click='cancelDeleteProperty()'>
        Cancel
      </button>
    </div>
  </div>
</aside>
<div class='avgrund-cover'></div>
<ul class='nav nav-pills'>
  <li ng-class='{active: isCurrentLanguage(language)}' ng-repeat='language in languages'>
    <a ng-click='setLanguage(language);'>
      {{language}}
    </a>
  </li>
</ul>
<table class='entity table table-striped table-hover'>
  <thead>
    <tr>
      <th>
        Key
      </th>
      <th>
        Language
      </th>
      <th></th>
      <th>
        Value
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='property in data.content' ng-show='isCurrentLanguage(property.lang)'>
      <td>
        <div ng-bind='property.key'></div>
        <div>
          ({{property.type}})
        </div>
      </td>
      <td>
        <div ng-bind='property.lang'></div>
      </td>
      <td>
        <a class='icon-pencil' ng-click='setEditMode( property, true )' ng-hide='property.editMode'></a>
        <a class='icon-trash' ng-click='deleteProperty( property )' ng-hide='property.editMode'></a>
        <a class='icon-ok' ng-click='saveProperty( property )' ng-show='true == property.editMode'></a>
        <a class='icon-remove' ng-click='setEditMode( property, false )' ng-show='true == property.editMode'></a>
      </td>
      <td>
        <div class='image' ng-show='isImage( property.value )' style="background-image: url('{{property.value}}');"></div>
        <div ng-bind='property.value' ng-hide='property.editMode'></div>
        <textarea ng-model='property.value' ng-show="'literal'==property.type &amp;&amp; true == property.editMode"></textarea>
        <input ng-model='property.value' ng-show="'uri'==property.type &amp;&amp; true == property.editMode" type='url'>
        <select ng-model='property.value' ng-show="'bnode'==property.type &amp;&amp; true == property.editMode"></select>
      </td>
    </tr>
  </tbody>
</table>
<div class='pagination pagination-centered' style='display: none;'>
  <ul>
    <li ng-class="{true: 'disabled', false: ''}[0==data.page]">
      <a ng-click='goToPreviousPage()'>
        Prev
      </a>
    </li>
    <li ng-class="{true: 'active', false: ''}[page==(data.page + 1)]" ng-repeat='page in getPages()'>
      <a ng-bind='page' ng-click='goToPage( page - 1 )'></a>
    </li>
    <li ng-class="{true: 'disabled', false: ''}[data.page==(data.pages - 1)]">
      <a ng-click='goToNextPage()'>
        Next
      </a>
    </li>
  </ul>
</div>
