<table class='entities table table-striped table-hover'>
  <thead>
    <tr>
      <th style='width: 20px;'></th>
      <th>
        Name
      </th>
      <th>
        Image
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='entity in data.content'>
      <td>
        <div class='type' ng-class='getTypeName( entity.a )'></div>
      </td>
      <td>
        <a ng-bind='entity.name' ng-click='goToEntity( entity )'></a>
      </td>
      <td>
        <div class='image' style="background-image: url( '{{entity.image}}' );"></div>
      </td>
    </tr>
  </tbody>
</table>
<div class='pagination pagination-centered'>
  <ul>
    <li ng-class="{true: 'disabled', false: ''}[0==data.page]">
      <a ng-click='goToPreviousPage()'>
        Prev
      </a>
    </li>
    <li ng-class="{true: 'active', false: ''}[page==(data.page + 1)]" ng-repeat='page in getPages()'>
      <a ng-bind='page' ng-click='goToPage( page - 1 )'></a>
    </li>
    <li ng-class="{true: 'disabled', false: ''}[data.page==(data.pages - 1)]">
      <a ng-click='goToNextPage()'>
        Next
      </a>
    </li>
  </ul>
</div>
