<!DOCTYPE html>
<div class='bootstrap-reset' id='wordLiftOptions' ng-controller='OptionsController'>
  <form ng-submit='save()'>
    <fieldset>
      <legend>
        Options
      </legend>
      <label class='checkbox'>
        <input ng-model='enableFooterBar' type='checkbox'>
          Enable the WordLift Bar
        </input>
      </label>
      <span class='help-block'>
        If enabled, the WordLift Bar will appear on the lower part of your
        site.
      </span>
      <label class='checkbox'>
        <input ng-model='enableInDepth' type='checkbox'>
          Enable In-Depth markup
        </input>
      </label>
      <span class='help-block'>
        If enabled, WordLift will process the page to expose
        <em>
          schema.org
        </em>
        compatible mark-up.
      </span>
      <input class='btn btn-primary' type='submit' value='Save'>
    </fieldset>
  </form>
</div>
