<!DOCTYPE html>
<style>
  [ng-cloak] {
  	display: none;
  }
</style>
<div id='wordliftApp' ng-controller='TasksCtrl'>
  <div class='alert alert-info'>
    <span class='label label-info'>
      Running Tasks
    </span>
    Hello, let us explain you what to do now.
    <br clear='all'>
    <span class='label label-info'>
      Awaiting Disambiguation
    </span>
    Hello, let us explain you what to do now.
    <br clear='all'>
    <span class='label label-info'>
      Completed Tasks
    </span>
    Hello, let us explain you what to do now.
  </div>
  <ul class='nav nav-pills'>
    <li ng-class="{running:'active'}[state]">
      <a ng-click="select('running')">
        Running Tasks
      </a>
    </li>
    <li ng-class="{completed:'active'}[state]">
      <a ng-click="select('completed')">
        Awaiting Disambiguation
      </a>
    </li>
    <li ng-class="{disambiguated:'active'}[state]">
      <a ng-click="select('disambiguated')">
        Completed Tasks
      </a>
    </li>
  </ul>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          State
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='task in data'>
        <td>
          <a href='{{task.edit}}'>
            {{task.title}}
          </a>
        </td>
        <td ng-class='state'>
          {{state}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
