<!-- ENTITY PANEL -->
<div class="wl-widget-entity-panel">
  <div class="wl-widget-entity-panel-wrap">
    <!-- ENTITY TOP BLUEBOX -->
    <div class="wl-widget-entity-panel-top">

      <!-- LABEL DELLA CATEGORIA -->
      <div class="wl-widget-entity-panel-top-category">
        <h2 class="wl-widget-entity-panel-top-category-label">
          Category
        </h2>
        <!-- AFTER FOR THE ">" -->
      </div>

      <div class="wl-widget-entity-panel-top-category-opt">
        <span class="wl-widget-entity-panel-top-options">
          what
        </span>
        <span class="wl-widget-entity-panel-top-options">
          what
        </span>
        <span class="wl-widget-entity-panel-top-options">
          what
        </span>
        <span class="wl-widget-entity-panel-top-options">
          what
        </span>
      </div>
    </div>

    <!-- INPUT CENTRAL SECTION -->
    <!-- ENTITY LABEL INPUT -->
    <div class="wl-widget-entity-panel-input">
      <h3 class="wl-widget-entity-panel-input-label">
        Entity label
      </h3>
      <input type="text" ng-model="entity.label">
    </div>

    <!-- SAME ENTITY AS -->
    <div class="wl-widget-entity-panel-input">
      <h3 class="wl-widget-entity-panel-input-label">
        Same entity as
      </h3>
      <input type="text" name="" id="">

      <!-- ENTITY CARD WRAP -->
      <div class="wl-widget-entity-panel-card-wrap">

        <!-- SINGLE CARD -->
        <div class="wl-widget-entity-panel-card">
          <input type="radio" name="a" id="1">
          <div class="wl-widget-entity-panel-card-details">

            <!-- ENTITY LABEL -->
            <h3>
              New York
            </h3>
            <div class="wl-widget-entity-panel-card-details-bottom">

              <!-- DB ID -->
              <p>
                dbpedia
              </p>

              <!-- OUTPUT ICON -->
              <a href="">
                <img ng-src="{{configuration.defaultWordLiftPath}}images/svg/wl-output-icon.svg" class="wl-widget-entity-panel-card-detail-icon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ENTITY DESCRIPTION -->
    <div class="wl-widget-entity-panel-input">
        <h3 class="wl-widget-entity-panel-input-label">
          Entity description
        </h3>
      <input type="text" name="" id="">
    </div>

    <!-- ENTITY IMAGES -->
    <div class="wl-widget-entity-panel-input">
      <h3 class="wl-widget-entity-panel-input-label">
          Entity images
      </h3>

      <div class="wl-widget-entity-panel-images-wrap">
        <img ng-src="{{configuration.defaultWordLiftPath}}images/prev-5.png" class="wl-widget-entity-panel-images">
        <img ng-src="{{configuration.defaultWordLiftPath}}images/prev-7.png" class="wl-widget-entity-panel-images">
        <img ng-src="{{configuration.defaultWordLiftPath}}images/prev-8.png" class="wl-widget-entity-panel-images">
        <img ng-src="{{configuration.defaultWordLiftPath}}images/prev-2.png" class="wl-widget-entity-panel-images">
        <img ng-src="{{configuration.defaultWordLiftPath}}images/prev-4.png" class="wl-widget-entity-panel-images">
      </div>
    </div>

    <h3 ng-click="onSubmit()">Chiudi</h3>


  </div>
</div>
