<!-- CLASSIFICATION BOX  -->
<div class="wl-tab-lead">
  <div class="wl-tab-lead-wrap" ng-click="toggleCurrentSection('content-classification')">
    <h1 class="wl-tab-lead-text">
			Content classification
		</h1>
      <!-- isRunning can be used to show / hide a loader accordngly to the analysis status -->
    <div class="wl-tab-lead-text wl-tab-lead-btn"
      ng-class="{ 'wl-open' : isCurrentSection('content-classification'), 'wl-close' : !isCurrentSection('content-classification') }">
      <!-- display a triangle -->
    </div>
  </div>
</div>


<div class="wl-tab-wrap"
  ng-show="isCurrentSection('content-classification')">

  <wl-classification-box ng-repeat="box in configuration.classificationBoxes">

    <div ng-hide="annotation" class="wl-without-annotation">
      <wl-entity-tile
        show-confidence="false"
        is-selected="isEntitySelected(entity, box)"
        on-select="onSelectedEntityTile(entity)"
        on-blind="onEntityPageLinkingToggle(entity)"
        on-more="setCurrentEntity(entity, 'entity')"

        entity="entity"
        ng-repeat="entity in analysis.entities | filterEntitiesByTypesAndRelevance:box.registeredTypes">
      </wl-entity-tile>
    </div>

    <div ng-show="annotation" class="wl-with-annotation">
      <wl-entity-tile 
        show-confidence="false" 
        is-selected="isLinkedToCurrentAnnotation(entity)" 
        on-select="onSelectedEntityTile(entity, box)"
        on-more="setCurrentEntity(entity, 'entity')" 
        on-blind="onEntityPageLinkingToggle(entity)"
        entity="entity" 
        ng-repeat="entity in analysis.annotations[annotation].entities | filterEntitiesByTypes:box.registeredTypes">
      </wl-entity-tile>
    </div>

  </wl-classification-box>

</div>
