<div class="wl-tab-lead">
    <div class="wl-tab-lead-wrap" ng-click="toggleCurrentSection('faq')">
        <h1 class="wl-tab-lead-text">
            FAQ
        </h1>
        <div class="wl-tab-lead-text wl-tab-lead-btn"
             ng-class="{ 'wl-open' : isCurrentSection('faq'), 'wl-close' : !isCurrentSection('faq') }">
            <!-- display a triangle -->
        </div>
    </div>
</div>

<div class="wl-widget-posts wl-tab-wrap">
    <!-- React finds the ids and render the components -->
    <div id="wl-faq-meta-list-box"></div>
    <div id="wl-faq-modal"></div>
</div>
