<!-- RELATED POST -->
<div class="wl-tab-lead">
  <div class="wl-tab-lead-wrap" ng-click="toggleCurrentSection('related-posts')">
    <h1 class="wl-tab-lead-text">
      Related posts
    </h1>
    <div class="wl-tab-lead-text wl-tab-lead-btn"
      ng-class="{ 'wl-open' : !isCurrentSection('related-posts'), 'wl-close' : isCurrentSection('related-posts') }">
      <!-- display a triangle -->
    </div>
  </div>
</div>

<div
  class="wl-widget-posts wl-tab-wrap"
  ng-show="isCurrentSection('related-posts')">
  <div class="wl-widget-post-wrap" ng-repeat="post in relatedPosts">
    <div class="wl-widget-post-img">
      <img ng-src="{{post.thumbnail}}" wl-fallback="{{configuration.defaultThumbnailPath}}" />
      <wl-clipboard
        text="post.permalink"
        on-copied="copiedOnClipboard()"
        class="wl-widget-post-link">
        COPY LINK
      </wl-clipboard>
    </div>
    <div class="wl-widget-post-details">
      <h3 class="wl-widget-post-author">
        {{post.author}}
      </h3>
      <h1 class="wl-widget-post-title">
        {{post.post_title}}
      </h1>
    </div>
  </div>
</div>
