.treemap {
}

.treemap__toolbar {
  text-align: left;
  white-space: nowrap;
  /* Take into account the left position of the text in the first cell of the treemap, currently at 4px (border-left)
       + 8px (padding-left). */
  margin-left: 12px;
}

.treemap__toolbar > div {
  display: inline-block;
  padding-right: 4px;
  cursor: pointer;
}

.treemap__toolbar > div:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #444;
  display: inline-block;
  vertical-align: baseline;
  padding-right: 4px;
}

.treemap__toolbar > div:last-child {
  font-weight: 600;
}

.treemap__hierarchy__tile {
}
