#adminmenumain,
#wpadminbar,
.notice {
    display: none;
}

html.wp-toolbar {
    padding-top: 0;
}

#wpwrap, .auto-fold #wpcontent, #wpbody, #wpbody-content, .CodeMirror {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
