.wl-modal-field {
  &__title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    &--required {
      &:after {
        color: #FF2222;
        content: '*';
        margin-left: 5px;
      }
    }
  }

  &__description {
    font-weight: 600;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.022em;
    color: #000000;
  }

  &__input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 122, 255, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
  }

}