.wl-col {
  padding: 1em;
  &--sticky {
    align-self: flex-start;
    position: sticky;
    top: 0;
  }
  &--full-height {
    height: 100%;
  }
}
.wl-col--less-padding {
  padding: 0.5em;
}
.wl-col--low-padding {
  padding: 0.1em;
}
.wl-col--half-width {
  width: 50%;
}
.wl-col--align-center {
  text-align: center;
}
.wl-col--full-width {
  width: 100%;
}

@for $i from 1 through 20 {
  .wl-col--width-#{$i * 5} {
    width: $i * 5%;
  }
}
