.wl-col {
  padding: 1em;
}
.wl-col--less-padding {
  padding: 0.5em;
}

.wl-col--half-width {
  width: 50%;
}

.wl-col--width-80 {
  width: 80%;
}
.wl-col--width-20 {
  width: 20%;
}
.wl-col--width-70 {
  width: 70%;
}

.wl-col--width-30 {
  width: 30%;
}