#wordlift-faceted-entity-search-widget {
  font-size: inherit;
  padding: 0;
  margin: 0.8em 0;
  width: 100%;
}
#wordlift-faceted-entity-search-widget amp-accordion section[expanded] .wl-headline:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#wordlift-faceted-entity-search-widget .wl-headline {
  position: relative;
  margin: 0.4em 0;
  font-weight: bold;
  background-color: inherit;
  padding: 0;
  border: 0;
}
#wordlift-faceted-entity-search-widget .wl-headline:focus {
  outline: none;
}
#wordlift-faceted-entity-search-widget .wl-headline:after {
  content: "\25BE";
  position: absolute;
  right: 0;
}
#wordlift-faceted-entity-search-widget .wl-facets {
  margin: 0;
  border-top: #ccc 1px solid;
  overflow: hidden;
}
#wordlift-faceted-entity-search-widget .wl-facets .wl-facets-container {
  width: 25%;
  float: left;
}
@media screen and (max-width: 460px) {
  #wordlift-faceted-entity-search-widget .wl-facets .wl-facets-container {
    width: 100%;
  }
}
#wordlift-faceted-entity-search-widget .wl-facets .wl-facets-container h5 {
  text-transform: uppercase;
  padding: 0.3em 0 0 0;
  margin: 0;
  font-weight: bold;
  color: #767676;
}
#wordlift-faceted-entity-search-widget .wl-facets .wl-facets-container ul {
  padding: 0 0 0 0.2em;
  margin: 0.6em 0.3em;
  font-size: .8rem;
  list-style: none;
  border-left: #ccc 1px dashed;
}
#wordlift-faceted-entity-search-widget .wl-facets .wl-facets-container li {
  padding: 0;
  margin: 0 0 0.2em 0;
  line-height: 1.2em;
  position: relative;
  white-space: normal;
  color: #666;
  cursor: pointer;
}
.wl-navigator-widget {
  width: 100%;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel {
  background: transparent;
  margin: 0 -8px 0 0;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .amp-carousel-button {
  z-index: 0;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .amp-scrollable-carousel-slide {
  margin: 0;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card {
  font-size: 0.8em;
  width: 27%;
  vertical-align: top;
}
@media screen and (max-width: 460px) {
  .wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card {
    width: 100%;
  }
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card .wl-card-header {
  text-align: left;
  text-transform: uppercase;
  padding: 0.6em;
  margin: 0;
  font-size: .9rem;
  line-height: 1.2rem;
  min-height: 40px;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card .wl-card-title {
  padding: 0.6em;
  position: relative;
  font-size: .9rem;
  line-height: 1.2rem;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card .fixed-container {
  position: relative;
  width: 100%;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card .fixed-container amp-img.cover img {
  object-fit: cover;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card a {
  white-space: normal;
  color: #222;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -1px 0 #0f0f0f;
          box-shadow: inset 0 -1px 0 #0f0f0f;
}
.wl-navigator-widget amp-carousel.wl-amp-carousel .wl-card a:hover {
  color: #222;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 #000000;
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 #000000;
}
.wl-amp-faceted {
  width: 100%;
}
.wl-amp-faceted .wl-headline {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.wl-amp-faceted .chips {
  margin: 12px 0;
}
.wl-amp-faceted .chips amp-list div[role='list'] .chip {
  font-size: 0.8rem;
  font-weight: 600;
  background: #dedede;
  padding: 0 12px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.wl-amp-faceted .chips amp-list div[role='list'] .chip.active {
  background: #000;
  color: #fff;
}
.wl-amp-faceted .cards amp-carousel {
  background: transparent;
}
.wl-amp-faceted .cards amp-carousel .amp-carousel-button-prev {
  position: absolute;
  top: 30%;
}
.wl-amp-faceted .cards amp-carousel .amp-carousel-button-next {
  position: absolute;
  right: 0;
  top: 30%;
}
.wl-amp-faceted .cards amp-list div[role='list'] .card {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0.5rem .25em;
  vertical-align: top;
}
.wl-amp-faceted .cards amp-list div[role='list'] .card a {
  color: black;
  text-decoration: none;
}
.wl-amp-faceted .cards amp-list div[role='list'] .card a amp-img img {
  object-fit: cover;
}
.wl-amp-faceted .cards amp-list div[role='list'] .card .card-content .title {
  font-size: 0.8rem;
  margin: 0.3rem 0;
  line-height: 1.5rem;
  white-space: normal;
}
