.textannotation {
  background: #ebebeb;
  padding: 2px;
  cursor: hand;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.textannotation.disambiguated {
  background: transparent;
  border: 1px solid darkseagreen;
}
.textannotation .textannotation {
  border: 0;
}
