$layout-padding: 16px;
$layout-width: 700px;

.wl-mapping {
	&__container {
		background-color: #fff;
		padding: $layout-padding;
		max-width: $layout-width;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		margin-top: $layout-padding;
	}
	
	&__unit {
		display: flex;
		flex-flow: row wrap;
		margin-left: -($layout-padding);
		margin-right: -($layout-padding);
		padding: 12px $layout-padding;
		border-bottom: 1px solid #eee;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	&__checkbox {
		padding-right: 8px;
	}

	&__title {
		font-size: 1.25rem;
		height: 26px;
	}

	&__property-control {
		margin-bottom: 8px;

		label {
			display: inline-block;
			width: 100px;
		}

		input,
		select {
			width: 200px;
		}
	}

	&__close-mapping {
		margin-top: $layout-padding !important;
	}

	&__edit-panel {
		flex: 1;
	}

	&__edit-controls {
		a[data-control-id] {
			margin-right: 6px;
		}
	}

	&__add-mapping {
		margin-top: $layout-padding !important;
	}
}
