$layout-padding: 16px;
$layout-width: 700px;

.wl-mapping {
	&__rules {
		background-color: #fff;
		padding: $layout-padding;
		max-width: $layout-width;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
		margin-top: $layout-padding;
	}

	&__rules-headline {
		font-size: 1.25rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-left: -($layout-padding);
		margin-right: -($layout-padding);
		padding: $layout-padding;
		padding-top: 0;
		margin-bottom: $layout-padding;
		border-bottom: 3px solid #eee;
	}

	&__rule-item {
		padding-bottom: 8px;

		input,
		select {
			width: 150px;
			margin-left: 6px;

			&:first-child {
				margin-left: 0;
			}
		}

		button {
			margin-left: 6px !important;
		}
	}

	&__separator {
		font-size: 1.5rem;
		line-height: 1;
		margin-top: 1rem;
		margin-bottom: 1.25rem;
	}

	&__add-rule-group {
		margin-top: 8px !important;
	}
}