.wl-faq-edit-item--warning {
  font-size: 12px;
  color: tomato;
}

.wl-faq-edit-item--danger {
  font-size: 12px;
  color: red;
}
.wl-faq-edit-item--textarea {
  width: 95%;
}
.wl-faq-edit-item--title {
  font-weight: bold;
}