@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size: initial;
  line-height: initial; }
  body .wl-container, body .wl-container * {
    box-sizing: border-box; }

.wl-container {
  color: #fff;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  position: relative;
  top: 25vh;
  margin: auto;
  width: 750px;
  max-width: 100%;
  height: 400px;
  text-align: center;
  padding: 24px 34px;
  border: 16px solid #f5f5f5;
  background-color: #2E92FF; }
  .wl-container h1, .wl-container h2, .wl-container h3, .wl-container h4, .wl-container h5, .wl-container h6 {
    color: #fff; }
  .wl-container a, .wl-container a:hover, .wl-container a:active {
    color: #fff; }
  .wl-container .radio-wrapper label {
    cursor: pointer;
    white-space: nowrap; }
  .wl-container input::-ms-clear {
    display: none; }
  @media screen and (max-width: 550px) {
    .wl-container {
      top: 0;
      height: 100%; } }
  .wl-container header {
    text-align: left;
    width: 100%;
    height: 24px; }
    .wl-container header h1 {
      display: inline-block;
      font-size: 24px;
      line-height: 24px;
      margin: 0;
      font-weight: 300; }
      .wl-container header h1 strong {
        font-weight: 900; }
    .wl-container header img.shapes {
      float: right;
      margin-top: 4px;
      width: 60px;
      height: 16px; }
    .wl-container header img.wizard-logo {
      width: 125px;
      height: 47px;
      margin-top: -10px; }
  .wl-container ul.wl-pane-indicator {
    position: relative;
    top: -20px;
    padding: 0;
    margin: 0;
    height: 24px;
    list-style: none; }
    @media screen and (max-width: 550px) {
      .wl-container ul.wl-pane-indicator {
        top: 0; } }
    .wl-container ul.wl-pane-indicator li {
      position: relative;
      display: inline-block;
      margin: 8px 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 1px solid #fff;
      transition: all 200ms ease-out; }
      .wl-container ul.wl-pane-indicator li.active {
        background-color: #fff; }
  .wl-container .btn-wrapper {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center; }
    .wl-container .btn-wrapper > * {
      margin: 0 16px; }
  .wl-container .privacy-policy-details {
    padding-top: 35px; }
    .wl-container .privacy-policy-details a {
      color: #fff; }
      .wl-container .privacy-policy-details a:hover {
        text-decoration: none; }
  .wl-container button, .wl-container input[type="button"], .wl-container a.button, .wl-container input[type="submit"] {
    border: 0;
    cursor: pointer;
    display: inline-block;
    min-width: 112px;
    height: 32px;
    border-radius: 5px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    transition: all 200ms ease-out;
    text-decoration: none; }
    .wl-container button.wl-default-action, .wl-container input[type="button"].wl-default-action, .wl-container a.button.wl-default-action, .wl-container input[type="submit"].wl-default-action {
      background: #fff;
      color: #2e92ff; }
    .wl-container button:hover, .wl-container input[type="button"]:hover, .wl-container a.button:hover, .wl-container input[type="submit"]:hover {
      transform: scale(1.01) translateY(-2px);
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.25), 0 15px 20px -15px rgba(0, 0, 0, 0.25); }
    .wl-container button:active, .wl-container input[type="button"]:active, .wl-container a.button:active, .wl-container input[type="submit"]:active {
      transform: scale(0.99) translateY(0px); }
  .wl-container .viewport {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    margin-top: 8px;
    width: 480px;
    height: 288px;
    overflow: hidden; }
    @media screen and (max-width: 550px) {
      .wl-container .viewport {
        width: calc(100% - 32px);
        height: calc(100vh - 136px); } }
    .wl-container .viewport ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      transition: all 300ms ease-out;
      height: 100%;
      white-space: nowrap; }
      .wl-container .viewport ul li {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        position: relative;
        width: calc(100vw - 64px);
        max-width: 480px;
        height: 100%; }
  .wl-container .page-title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 8px; }
  .wl-container .page-txt {
    white-space: normal;
    position: relative;
    margin: auto auto 16px;
    font-weight: 200;
    font-size: 16px;
    line-height: 24px; }
  .wl-container ul.page-list {
    white-space: normal;
    text-align: left;
    height: 80px;
    max-width: 480px; }
    .wl-container ul.page-list li {
      height: 40px;
      width: 150px;
      font-size: 14px;
      line-height: 40px;
      white-space: nowrap; }
      .wl-container ul.page-list li span {
        font-size: 20px;
        margin-right: 4px; }
  .wl-container input[type="text"], .wl-container select {
    border: none;
    outline: none;
    display: block;
    margin: auto;
    position: relative;
    width: calc(100vw - 64px);
    max-width: 400px;
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    background: #fff;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #2E92FF;
    border-radius: 4px; }
  .wl-container select {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAATNJREFUWAljYBgFoyEwGgKjITAaAgMcAowg+82X/Of7/o5hHRMjw6kLuYxV+NxkMPl/27//DGacQgxBJ2MYP+FTS4wck+e2/+xAy3cCFTsDDa4EWtCNSyNIDqQGpBakB6QXl1pixZlePWbgACqWgWkAWlCCzRFQy0tg6kB6oHqRhEhnMp1NZ/zIys7gANT6BKYd3RFYLH8C0gPSC9NDLg1OAyDNxjP/K//+xbCf4T+DLMwwYJroAbFBDoKJMTAyPGZlY3AEWn4XLkYBA+4AkBnYHIFiNpUtB5nNhGwByFfszMDoAFqELA5mA8VActTyOcx8lBCACZpO+6/08y/DAXh0QC0/ncV4D6aGWjRWB4AMhzsCyAb5nBaWE/SE3vT/YiBMUOGogtEQGA2B0RAYDYGhHAIAbVluGopK7kIAAAAASUVORK5CYII=");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: ellipsis; }
    .wl-container select:focus::-ms-value {
      background: none;
      color: #000; }
  .wl-container input[type="text"]#key,
  .wl-container input[type="text"]#vocabulary,
  .wl-container input[type="text"]#name {
    padding-right: 34px; }
    .wl-container input[type="text"]#key.invalid, .wl-container input[type="text"]#key.valid,
    .wl-container input[type="text"]#vocabulary.invalid,
    .wl-container input[type="text"]#vocabulary.valid,
    .wl-container input[type="text"]#name.invalid,
    .wl-container input[type="text"]#name.valid {
      background-repeat: no-repeat;
      background-position: calc(100% - 8px) 7px; }
    .wl-container input[type="text"]#key.invalid,
    .wl-container input[type="text"]#vocabulary.invalid,
    .wl-container input[type="text"]#name.invalid {
      background-image: url("../../images/invalid.png"); }
    .wl-container input[type="text"]#key.valid,
    .wl-container input[type="text"]#vocabulary.valid,
    .wl-container input[type="text"]#name.valid {
      background-image: url("../../images/valid.png"); }
    .wl-container input[type="text"]#key.untouched,
    .wl-container input[type="text"]#vocabulary.untouched,
    .wl-container input[type="text"]#name.untouched {
      background-image: initial; }
  .wl-container p.page-det {
    display: block;
    margin: 8px auto;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    white-space: normal;
    width: calc(100vw - 64px);
    max-width: 400px; }
  .wl-container .radio-wrapper {
    margin-bottom: 16px; }
    .wl-container .radio-wrapper input {
      display: none; }
    .wl-container .radio-wrapper label {
      width: 80px;
      display: inline-block;
      text-align: left;
      margin: 0 22px; }
    .wl-container .radio-wrapper .radio {
      width: 12px;
      height: 12px;
      display: inline-block;
      position: relative;
      margin-right: 8px;
      border-radius: 50%;
      border: 1px solid #fff; }
      .wl-container .radio-wrapper .radio .check {
        width: 8px;
        height: 8px;
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 1px;
        background-color: #fff;
        border-radius: 50%;
        transition: all 200ms ease-out; }
    .wl-container .radio-wrapper input[type="radio"]:checked ~ .radio .check {
      transform: scale(1); }
    .wl-container .radio-wrapper input[type="radio"]:not(:checked) ~ .radio .check {
      transform: scale(0); }
  .wl-container a.add-logo {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 16px auto auto;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    text-shadow: 0.03em 0 #2E92FF, -0.03em 0 #2E92FF, 0 0.03em #2E92FF, 0 -0.03em #2E92FF, 0.06em 0 #2E92FF, -0.06em 0 #2E92FF, 0.09em 0 #2E92FF, -0.09em 0 #2E92FF, 0.12em 0 #2E92FF, -0.12em 0 #2E92FF, 0.15em 0 #2E92FF, -0.15em 0 #2E92FF; }
  .wl-container .wl-logo-preview {
    display: none;
    position: relative;
    margin: auto;
    margin-top: 16px;
    margin-bottom: -8px;
    height: 48px;
    width: 48px;
    background-size: cover;
    background-position: center center;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #2E92FF;
    border-radius: 4px; }
    .wl-container .wl-logo-preview a {
      display: block;
      position: absolute;
      right: -8px;
      top: -8px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #fff;
      color: #2E92FF;
      text-decoration: none; }
      .wl-container .wl-logo-preview a::before {
        line-height: 16px;
        font-size: 12px; }
  .wl-container .wl-close {
    display: block;
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #2E92FF;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.25), 0 2px 4px 0px rgba(0, 0, 0, 0.35);
    transition: all 250ms ease-out; }
    .wl-container .wl-close::before {
      position: relative;
      top: -1px;
      line-height: 32px;
      font-size: 24px; }
    .wl-container .wl-close:hover {
      transform: scale(1.005) translateY(-1px);
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.25), 0 15px 20px -15px rgba(0, 0, 0, 0.25); }
    .wl-container .wl-close:active {
      transform: scale(0.995) translateY(0px); }

.wl-select-notices {
  color: #870c25;
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 10px;
  display: none; }
  .wl-select-notices.visible {
    display: block; }

.wl-val-key-error {
  white-space: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px; }
