$primary-color: #177efb;

.wl-fab {
  position: relative;
  display: inline-block;
}

.wl-fab .wl-fab-body {
  width: 200px;
  padding: 10px;
  background-color: #eee;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.wl-fab .wl-fab-body::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.wl-fab-button {
  border-radius: 8px !important;
  width: 150px;
  margin: 3px;
  padding: 10px;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  border: 1px solid #eee;
  background-color: $primary-color !important;
  color: #fff !important;
  font-weight: bold;
}