$primary-color: #177EFB;
.wl-faq-answer-container {
  overflow: hidden;
  text-overflow: clip;
}
.wl-faq-answer-title {
  color: black;
  cursor: pointer;
  height: 2em;
  &:first-letter {
    text-transform: uppercase;
  }
}