$primary-color: #177efb;
.wl-faq-answer-container {
  height: 40px !important;
  overflow: hidden;
  text-overflow: clip;
}
.wl-faq-answer-title {
  color: black;
  cursor: pointer;
  padding: 2px;
}
