.wl-modal {
  display: none;
  z-index: 9999 !important;
  height: 60%;
  width: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #eee;
  border-radius: 10px;
  &.wl-modal--open {
    display: block;
  }
  &.wl-modal--closed {
    display: none;
  }
}
