.wl-modal {
  display: none; /* Hidden by default */
  position: fixed !important; /* Stay in place */
  z-index: 1 !important; /* Sit on top */
  height: 50%;
  width: 50%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.8); /* Black w/ opacity */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  &.wl-modal--open {
    display: block;
  }
  &.wl-modal--closed {
    height: 0;
    width: 0;
    display: none;
  }
}
