#wl-settings-page {

  // Hide the "clear all" cross. See http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs
  input::-ms-clear {
    display: none
  }
  &__video-api {
    width: 100%;
  }

  #wl-entity-base-path,
  #wl-key,
  #wl-alternate-name,
  #wordlift_videoobject_youtube_api_key,
  #wordlift_videoobject_vimeo_api_key {
    // Size,
    width: 100%;
    max-width: 480px;
    height: 32px;
    // Internal
    padding: 0 8px;
    line-height: 32px;
    // Text job.
    font-size: 14px;
    color: #32373c;
    // Border.
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
    background-color: #fff;
    outline: 0;
    // Anime.
    transition: 50ms border-color ease-in-out;
    // Background.
    background-position: 98% 50%;
    background-repeat: no-repeat;
  
    &.loading {
      // Icon.
      background-image: url('loading.gif');
      // Spacing.
      padding-right: 32px;
    }

    &.valid {
      // Icon.
      background-image: url('valid.png');
      // Spacing.
      padding-right: 32px;
    }

    &.invalid {
      // Icon.
      background-image: url('invalid.png');
      // Spacing.
      padding-right: 32px;
    }
  }

  #wl-entity-base-path, #wl-site-language {
    background-color: #f5f5f5;
  }

  .wl-tabs-element {
    border-radius: 0;
    border: 0;
    background: none;

    .nav-tab-wrapper {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #ccc;
      background: none;
      padding-bottom: 0;
      padding-left: 6px;

      .nav-tab {
        border-radius: 0;
        border: 1px solid #ccc !important;
        background: #e4e4e4;
        color: #555;
        margin: 0 3px 0 0;
        vertical-align: top;
        white-space: nowrap;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      .ui-state-active, .ui-state-active:hover {
        border-bottom: 1px solid #f1f1f1 !important;
        background: #f1f1f1;
        color: #000;
      }
    }
  }

  .wl-select-notices {
    color: #ff0000;
    display: none;
    &.visible {
      display: block;
    }
  }

  /* For the search keywords textarea. */
  textarea {
    width: 100%;
    max-width: 480px;
  }

}

// Styling the select wrap.
.ui-tabs .ui-tabs-panel {
  // Size.
  max-width: 480px;
  min-height: 32px;
  // Border.
  border-radius: 2px;
  // Spacing.
  padding: 0 !important;
  margin: 16px 0;

  // Fixing inline blocks positioning.
  * {
    vertical-align: middle;
  }

  // Fixing the inner space.
  p {
    max-height: 32px;
    margin: 0;
    width: 100%;
    // Text job.
    color: #4a4a4a
  }
}

#tabs-2 {
  p {
    margin: 8px 0;

    &:first-of-type {
      margin-top: 24px;
    }
  }
}

#wl-publisher-name input,
#wl-site-language,
#wl-country-code {
  // Size
  width: 100%;
  max-width: 480px;
  min-height: 32px;
  // Spacing.
  margin-top: 8px;
  padding: 4px 8px;
  // Color,
  color: #32373c;
  // Border.
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
  background-color: #fff;
  outline: 0;
}

#wl-publisher-type {
  // Size.
  max-width: 480px;
  width: 100%;
  // Styling radios.
  span {
    // Size.
    width: 45%;
    // Position.
    display: inline-block;
  }
}

#wl-publisher-media-uploader {
  // Size.
  height: 32px;
  // Position.
  float: left;
}

#wl-publisher-media-uploader-preview {
  // Size.
  max-width: 256px;
  max-height: 256px;
  // Spacing.
  margin-bottom: 16px;
  // Prevent thumb and btn on the same line.
  display: block;
}

// Import the styling for the Select2 element.
@import "../../../components/AuthorSelect/styles/index";