.wl-container {
  display: flex;
  justify-content: flex-start;
  &--row-layout {
    flex-direction: column;
  }
  &--center {
    align-content: center;
  }
}

.wl-container--full-width {
  width: 100%;
}

.wl-container__input--full-width {
  width: 100%;
}
.wl-container__input--height-medium {
  height: 40px;
}
