on: [ push ]

jobs:
  test:
    name: ${{ matrix.image }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [ "php5.6-phpunit4.8-wordpress4.4", "php7.1-phpunit4.8-wordpress5.5" ]
      max-parallel: 1
    env:
      ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}
      WORDLIFT_API_URL: ${{  secrets.WORDLIFT_API_URL }}
      WORDLIFT_KEY: ${{ secrets.WORDLIFT_KEY }}
    services:
      db:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: wordpress
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v2
      - run: |-
          docker run --workdir /github/workspace --rm -e ACF_PRO_KEY -e WORDLIFT_API_URL -e WORDLIFT_KEY
            -e INPUT_ARGS -e HOME -e GITHUB_JOB -e GITHUB_REF -e GITHUB_SHA -e GITHUB_REPOSITORY
            -e GITHUB_REPOSITORY_OWNER -e GITHUB_RUN_ID -e GITHUB_RUN_NUMBER -e GITHUB_RETENTION_DAYS -e GITHUB_ACTOR
            -e GITHUB_WORKFLOW -e GITHUB_HEAD_REF -e GITHUB_BASE_REF -e GITHUB_EVENT_NAME -e GITHUB_SERVER_URL
            -e GITHUB_API_URL -e GITHUB_GRAPHQL_URL -e GITHUB_WORKSPACE -e GITHUB_ACTION -e GITHUB_EVENT_PATH
            -e GITHUB_ACTION_REPOSITORY -e GITHUB_ACTION_REF -e GITHUB_PATH -e GITHUB_ENV -e RUNNER_OS
            -e RUNNER_TOOL_CACHE -e RUNNER_TEMP -e RUNNER_WORKSPACE -e ACTIONS_RUNTIME_URL -e ACTIONS_RUNTIME_TOKEN
            -e ACTIONS_CACHE_URL -e GITHUB_ACTIONS=true -e CI=true --network github_network_befdd3cd84a342178116ba2b0806d3bb
            -v "/var/run/docker.sock":"/var/run/docker.sock" -v "/home/runner/work/_temp/_github_home":"/github/home"
            -v "/home/runner/work/_temp/_github_workflow":"/github/workflow"
            -v "/home/runner/work/_temp/_runner_file_commands":"/github/file_commands"
            -v "/home/runner/work/wordlift-plugin/wordlift-plugin":"/github/workspace"
              ziodave/wordpress-tests:${{ matrix.image }} -c phpunit.xml
