on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [ "php5.6-phpunit4.8-wordpress4.4", "php7.1-phpunit4.8-wordpress5.5" ]
    env:
      ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}
      WORDLIFT_API_URL: ${{  secrets.WORDLIFT_API_URL }}
      WORDLIFT_KEY: ${{ secrets.WORDLIFT_KEY }}
    services:
      db:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: wordpress
        ports:
          - 3306:3306
    steps:
      - uses: actions/checkout@v2
      - uses: docker://ziodave/wordpress-tests:${{ matrix.image }}
        with.args: -c phpunit.xml
