on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        uses: ziodave/wordpress-tests@php5.6-phpunit4.8-wordpress4.4-v0.0.1
        with:
          args: -c /github/home/phpunit.xml
