name: wordpress.org

on:
  push:
    branches:
      - master

jobs:
  wordpress:
    name: readme.txt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Publish
        run: ./.github/workflows/publish-readme.sh
