.wl-notice{
  .components-notice{
    margin: 10px 0;
    .components-notice__content{
      margin: 5px 0;
    }
  }
}

.editor-block-list__block{
  .textannotation {
    background-color: rgba(46,146,255,.2);
    cursor: pointer;
  }
  .disambiguated {
    border-bottom: #007aff 2px solid;
  }
  &[data-type='wordlift/faceted-search'],
  &[data-type='wordlift/navigator']{
    [data-block]{
      background: rgba(0,0,0,0.07);
      font-family: Consolas, Monaco, monospace;
      direction: ltr;
      unicode-bidi: embed;
      font-size: 13px;
      padding: 5px;
    }
  }
}
